html[yc-design-dark] {
  .yc-cascader {
    &:deep(.yc-input-outer) {
      .yc-input-wrapper {
        .yc-input {
          &::placeholder {
            color: rgb(151, 155, 165);
          }
        }
      }
    }
    .yc-input-placeholder {
      color: rgb(151, 155, 165);
    }
  }
  .yc-cascader-allow-search {
    &:deep(.yc-input-outer) {
      .yc-input-wrapper {
        .yc-input {
          &::placeholder {
            color: rgb(151, 155, 165);
          }
        }
      }
    }
  }
}

html[yc-design-dark] {
  .yc-cascader-option {
    background-color: transparent;
    color: rgb(229, 230, 235);
    &:not(.yc-cascader-option-disabled):hover {
      background-color: rgb(44, 44, 48);
    }
  }
  .yc-cascader-option-selected {
    background-color: rgb(44, 44, 48);
  }
  .yc-cascader-option-disabled {
    color: rgb(105, 109, 118);
    background-color: transparent;
  }
}

html[yc-design-dark] {
  .yc-cascader-panel {
    background-color: rgb(37, 37, 41);
    border: 1px solid rgb(70, 70, 72);
    box-shadow: 0 4px 10px #0000004d;
    .yc-cascader-panel-column {
      background-color: rgb(37, 37, 41);
      &:not(:last-child) {
        border-right-color: rgb(70, 70, 72);
      }
    }
  }
}
