.yc-icon-button {
  user-select: none;
  cursor: pointer;
  position: relative;
  color: var(--color-text-1);
  display: flex;
  justify-content: center;
  align-items: center;
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--icon-btn-size);
    height: var(--icon-btn-size);
    border-radius: var(--border-radius-circle);
    background: transparent;
    transition: background-color 0.1s cubic-bezier(0, 0, 1, 1);
  }
  .yc-icon {
    position: relative;
    z-index: 1;
  }
}
// hoverable
.yc-icon-button-hoverable {
  &:not(.yc-icon-button-disabled):hover::before {
    background-color: var(--color-fill-2);
  }
}
// disabled
.yc-icon-button-disabled {
  color: var(--color-text-3);
}
