html[yc-design-dark] {
  .yc-trigger {
    &.yc-popconfirm {
      .yc-popconfirm-popup-content {
        color: #e5e5e5;
        background-color: #242424;
        border-color: #343434;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
      }
      .yc-popconfirm-popup-arrow {
        border-color: #343434;
      }
    }
  }
}
