html[yc-design-dark] {
  .yc-message {
    background-color: rgb(42, 46, 54);
    border-color: rgb(64, 69, 77);
    color: rgb(229, 230, 235);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  @type: {
    info: rgb(72, 143, 255);
    warning: rgb(255, 174, 66);
    success: rgb(72, 204, 115);
    error: rgb(255, 104, 104);
    loading: rgb(72, 143, 255);
  };
  each(@type, {
    .yc-message-@{key} {
      & when not(@key = normal) {
        background-color: rgb(42, 46, 54);
        border-color: rgb(64, 69, 77);
      }
      .yc-message-icon {
        color: @value;
      }
    };
  });
}
