html[yc-design-dark] {
  .yc-message {
    background-color: #242424;
    border-color: #343434;
    color: #e5e5e5;
  }
  @type: {
    info: rgb(22, 93, 255);
    warning: rgb(255, 125, 0);
    success: rgb(0, 180, 42);
    error: rgb(245, 63, 63);
    loading: rgb(22, 93, 255);
  };
  each(@type, {
      .yc-message-@{key} {
        & when not(@key = normal) {
          background-color: #242424;
          border-color: #343434;
        }
      };
    });
}
