.yc-message {
  --yc-message-bg-color: #fff;
  --yc-message-border-color: rgb(229, 230, 235);
  --yc-message-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  --yc-message-text-color: rgb(29, 33, 41);
  --yc-message-info-icon-color: rgb(22, 93, 255);
  --yc-message-warning-icon-color: rgb(255, 125, 0);
  --yc-message-success-icon-color: rgb(0, 180, 42);
  --yc-message-error-icon-color: rgb(245, 63, 63);
  --yc-message-loading-icon-color: rgb(22, 93, 255);
  html[yc-design-dark] & {
    --yc-message-bg-color: rgb(42, 46, 54);
    --yc-message-border-color: rgb(64, 69, 77);
    --yc-message-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    --yc-message-text-color: rgb(229, 230, 235);
    --yc-message-info-icon-color: rgb(72, 143, 255);
    --yc-message-warning-icon-color: rgb(255, 174, 66);
    --yc-message-success-icon-color: rgb(72, 204, 115);
    --yc-message-error-icon-color: rgb(255, 104, 104);
    --yc-message-loading-icon-color: rgb(72, 143, 255);
  }
}

.yc-message {
  pointer-events: auto;
  position: relative;
  overflow: hidden;
  padding: 10px 16px;
  background-color: var(--yc-message-bg-color);
  border: 1px solid var(--yc-message-border-color);
  border-radius: 2px;
  box-shadow: var(--yc-message-shadow);
  transition: all 0.1s cubic-bezier(0, 0, 1, 1);
  color: var(--yc-message-text-color);
  line-height: 1;
  text-align: center;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  .yc-message-icon {
    vertical-align: middle;
    font-size: 20px;
    animation:
      arco-msg-fade 0.1s cubic-bezier(0, 0, 1, 1),
      arco-msg-fade 0.4s cubic-bezier(0.3, 1.3, 0.3, 1);
  }
  .yc-message-content {
    vertical-align: middle;
    font-size: 14px;
  }
}
// type
@type: {
  info: unused;
  warning: unused;
  success: unused;
  error: unused;
  loading: unused;
};
each(@type,{
    .yc-message-@{key}{
      & when not(@key = normal){
        background-color: var(--yc-message-bg-color);
        border-color: var(--yc-message-border-color);
      }
      .yc-message-icon{
        color: ~"var(--yc-message-@{key}-icon-color)";
      }
    };
  });
