.yc-message {
  pointer-events: auto;
  position: relative;
  overflow: hidden;
  padding: 10px 16px;
  background-color: var(--yc-message-bg);
  border: 1px solid var(--yc-message-border-color);
  border-radius: var(--border-radius-small);
  box-shadow: var(--yc-message-shadow);
  transition: all 0.1s cubic-bezier(0, 0, 1, 1);
  color: var(--color-text-1);
  line-height: 1;
  text-align: center;
  display: inline-flex;
  align-items: center;
  gap: 8px;

  .yc-message-icon {
    vertical-align: middle;
    font-size: 20px;
    animation:
      arco-msg-fade 0.1s cubic-bezier(0, 0, 1, 1),
      arco-msg-fade 0.4s cubic-bezier(0.3, 1.3, 0.3, 1);
  }
  .yc-message-content {
    vertical-align: middle;
    font-size: 14px;
  }
}

// type
@types: {
  info: rgb(var(--primary-6));
  warning: rgb(var(--warning-6));
  success: rgb(var(--success-6));
  error: rgb(var(--danger-6));
  loading: rgb(var(--primary-6));
};
each(@types,  {
  .yc-message-@{key} {
    .yc-message-icon {
      color: @value;
    }
  }
});
