html[yc-design-dark] {
  .yc-tag-preset-color {
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(255, 255, 255, 0.08);
    &:hover {
      background-color: rgba(255, 255, 255, 0.12);
    }
    &.yc-tag-bordered {
      border-color: rgba(255, 255, 255, 0.12);
    }
  }

  @color: {
    @default: {
      color: rgba(255, 255, 255, 0.9);
      bg: rgba(255, 255, 255, 0.08);
      hover: rgba(255, 255, 255, 0.12);
      border: rgba(255, 255, 255, 0.12);
    };
    @red: {
      color: rgb(255, 106, 106);
      bg: rgba(255, 106, 106, 0.12);
      hover: rgba(255, 106, 106, 0.2);
      border: rgb(255, 106, 106);
    };
    @orangered: {
      color: rgb(255, 146, 92);
      bg: rgba(255, 146, 92, 0.12);
      hover: rgba(255, 146, 92, 0.2);
      border: rgb(255, 146, 92);
    };
    @orange: {
      color: rgb(255, 167, 64);
      bg: rgba(255, 167, 64, 0.12);
      hover: rgba(255, 167, 64, 0.2);
      border: rgb(255, 167, 64);
    };
    @gold: {
      color: rgb(255, 209, 77);
      bg: rgba(255, 209, 77, 0.12);
      hover: rgba(255, 209, 77, 0.2);
      border: rgb(255, 209, 77);
    };
    @lime: {
      color: rgb(187, 237, 77);
      bg: rgba(187, 237, 77, 0.12);
      hover: rgba(187, 237, 77, 0.2);
      border: rgb(187, 237, 77);
    };
    @green: {
      color: rgb(64, 214, 173);
      bg: rgba(64, 214, 173, 0.12);
      hover: rgba(64, 214, 173, 0.2);
      border: rgb(64, 214, 173);
    };
    @cyan: {
      color: rgb(77, 237, 237);
      bg: rgba(77, 237, 237, 0.12);
      hover: rgba(77, 237, 237, 0.2);
      border: rgb(77, 237, 237);
    };
    @blue: {
      color: rgb(106, 178, 255);
      bg: rgba(106, 178, 255, 0.12);
      hover: rgba(106, 178, 255, 0.2);
      border: rgb(106, 178, 255);
    };
    @arcoblue: {
      color: rgb(82, 133, 255);
      bg: rgba(82, 133, 255, 0.12);
      hover: rgba(82, 133, 255, 0.2);
      border: rgb(82, 133, 255);
    };
    @purple: {
      color: rgb(187, 106, 255);
      bg: rgba(187, 106, 255, 0.12);
      hover: rgba(187, 106, 255, 0.2);
      border: rgb(187, 106, 255);
    };
    @pinkpurple: {
      color: rgb(255, 106, 247);
      bg: rgba(255, 106, 247, 0.12);
      hover: rgba(255, 106, 247, 0.2);
      border: rgb(255, 106, 247);
    };
    @magenta: {
      color: rgb(255, 106, 187);
      bg: rgba(255, 106, 187, 0.12);
      hover: rgba(255, 106, 187, 0.2);
      border: rgb(255, 106, 187);
    };
    @gray: {
      color: rgba(255, 255, 255, 0.6);
      bg: rgba(255, 255, 255, 0.08);
      hover: rgba(255, 255, 255, 0.12);
      border: rgba(255, 255, 255, 0.12);
    };
  };

  each(@color, .(@value, @name) {
      @key: replace(~"@{name}", "@", "");
      .yc-tag-color-@{key} {
        &.yc-tag-checked {
          color: @value[color];
          background-color: @value[bg];
          & when (@key = default) {
            .yc-tag-icon {
              color: rgba(255, 255, 255, 0.7);
            }
          }
          &.yc-tag-checkable:hover {
            border-color: transparent;
            background-color: @value[hover];
          }
          &.yc-tag-bordered {
            border-color: @value[border];
          }
        }
      }
    });
}
