html[yc-design-dark] {
  @dark-colors: {
    default-color: #a9aeb8;
    default-bg: #3c3c3d;
    default-hover: #5a5a5b;
    default-border: #5a5a5b;
    red-color: #ff7d7d;
    red-bg: #5a2a2a;
    red-hover: #7a3a3a;
    red-border: #ff7d7d;
    orangered-color: #ff9d7d;
    orangered-bg: #5a3a2a;
    orangered-hover: #7a5a3a;
    orangered-border: #ff9d7d;
    orange-color: #ffb97d;
    orange-bg: #5a4a2a;
    orange-hover: #7a6a3a;
    orange-border: #ffb97d;
    gold-color: #ffd77d;
    gold-bg: #5a4a2a;
    gold-hover: #7a6a3a;
    gold-border: #ffd77d;
    lime-color: #d9ff7d;
    lime-bg: #4a5a2a;
    lime-hover: #6a7a3a;
    lime-border: #d9ff7d;
    green-color: #7dffb9;
    green-bg: #2a5a4a;
    green-hover: #3a7a6a;
    green-border: #7dffb9;
    cyan-color: #7dffd7;
    cyan-bg: #2a5a4a;
    cyan-hover: #3a7a6a;
    cyan-border: #7dffd7;
    blue-color: #7db9ff;
    blue-bg: #2a4a5a;
    blue-hover: #3a6a7a;
    blue-border: #7db9ff;
    arcoblue-color: #7d9dff;
    arcoblue-bg: #2a3a5a;
    arcoblue-hover: #3a5a7a;
    arcoblue-border: #7d9dff;
    purple-color: #b97dff;
    purple-bg: #3a2a5a;
    purple-hover: #5a3a7a;
    purple-border: #b97dff;
    pinkpurple-color: #ff7dd7;
    pinkpurple-bg: #5a2a4a;
    pinkpurple-hover: #7a3a6a;
    pinkpurple-border: #ff7dd7;
    magenta-color: #ff7db9;
    magenta-bg: #5a2a3a;
    magenta-hover: #7a3a5a;
    magenta-border: #ff7db9;
    gray-color: #a9aeb8;
    gray-bg: #3c3c3d;
    gray-hover: #5a5a5b;
    gray-border: #a9aeb8;
  };

  .yc-tag-preset-color {
    color: #ffffff;
    background-color: #2a2a2b;
    &:hover {
      background-color: #3c3c3d;
    }
    &.yc-tag-bordered {
      border-color: #5a5a5b;
    }
  }

  each(@dark-colors, {
        @key: replace(@key, "@", "");
        .yc-tag-color-@{key} {
          &.yc-tag-checked {
            color: @dark-colors[@@key-color];
            background-color: @dark-colors[@@key-bg];
            &.yc-tag-checkable:hover {
              background-color: @dark-colors[@@key-hover];
            }
            &.yc-tag-bordered {
              border-color: @dark-colors[@@key-border];
            }
          }
        }
      });
}
