.yc-tag {
  padding: 0 8px;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: var(--border-radius-small);
  font-weight: 500;
  display: inline-flex;
  align-items: center;

  .yc-tag-icon {
    flex-shrink: 0;
    margin-right: 4px;
  }
  .yc-tag-loading-icon,
  .yc-tag-close-button {
    flex-shrink: 0;
    margin-left: 4px;
    font-size: 12px;
    color: inherit;
  }
  .yc-tag-label {
    width: fit-content;
  }
}
// wrap
.yc-tag-wrap {
  height: fit-content;
  white-space: pre-wrap;
  word-break: break-word;
}
// no-wrap
.yc-tag-no-wrap {
  overflow: hidden;
  .yc-tag-label {
    flex: 1;
    flex-shrink: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
// loading
.yc-tag-loading {
  opacity: 0.8;
  cursor: default;
}
// checked
.yc-tag-checked {
  cursor: pointer;
  user-select: none;
}
// size
@size: {
  @large: {
    min-height: 32px;
    line-height: 30px;
  };
  @medium: {
    min-height: 24px;
    line-height: 22px;
  };
  @small: {
    min-height: 20px;
    line-height: 18px;
  };
};
each(@size, .(@value,@name){
  @key:replace(~"@{name}", "@", "");
  @font-size:if(@key=large,14px,12px);
  .yc-tag-size-@{key} {
    min-height: @value[min-height];
    font-size: @font-size;
    line-height: @value[line-height];
  }
});
// color
.yc-tag-preset-color {
  color: var(--color-text-1);
  background-color: var(--color-bg-1);
  &:hover {
    background-color: var(--color-fill-2);
  }
  &.yc-tag-bordered {
    border-color: var(--color-border-2);
  }
}
.yc-tag-custom-color {
  color: var(--color-white);
}
@color: {
  @default: {
    color: var(--color-text-1);
    bg: var(--color-fill-2);
    hover: var(--color-fill-3);
    border: var(--color-border-2);
    icon: var(--color-text-2);
  };
  @red: {
    color: rgb(var(--red-6));
    bg: rgb(var(--red-1));
    hover: rgb(var(--red-2));
    border: rgb(var(--red-6));
  };
  @orangered: {
    color: rgb(var(--orangered-6));
    bg: rgb(var(--orangered-1));
    hover: rgb(var(--orangered-2));
    border: rgb(var(--orangered-6));
  };
  @orange: {
    color: rgb(var(--orange-6));
    bg: rgb(var(--orange-1));
    hover: rgb(var(--orange-2));
    border: rgb(var(--orange-6));
  };
  @gold: {
    color: rgb(var(--gold-6));
    bg: rgb(var(--gold-1));
    hover: rgb(var(--gold-3));
    border: rgb(var(--gold-6));
  };
  @lime: {
    color: rgb(var(--lime-6));
    bg: rgb(var(--lime-1));
    hover: rgb(var(--lime-2));
    border: rgb(var(--lime-6));
  };
  @green: {
    color: rgb(var(--green-6));
    bg: rgb(var(--green-1));
    hover: rgb(var(--green-2));
    border: rgb(var(--green-6));
  };
  @cyan: {
    color: rgb(var(--cyan-6));
    bg: rgb(var(--cyan-1));
    hover: rgb(var(--cyan-2));
    border: rgb(var(--cyan-6));
  };
  @blue: {
    color: rgb(var(--blue-6));
    bg: rgb(var(--blue-1));
    hover: rgb(var(--blue-2));
    border: rgb(var(--blue-6));
  };
  @arcoblue: {
    color: rgb(var(--primary-6));
    bg: rgb(var(--primary-1));
    hover: rgb(var(--primary-2));
    border: rgb(var(--primary-6));
  };
  @purple: {
    color: rgb(var(--purple-6));
    bg: rgb(var(--purple-1));
    hover: rgb(var(--purple-2));
    border: rgb(var(--purple-6));
  };
  @pinkpurple: {
    color: rgb(var(--pinkpurple-6));
    bg: rgb(var(--pinkpurple-1));
    hover: rgb(var(--pinkpurple-2));
    border: rgb(var(--pinkpurple-6));
  };
  @magenta: {
    color: rgb(var(--magenta-6));
    bg: rgb(var(--magenta-1));
    hover: rgb(var(--magenta-2));
    border: rgb(var(--magenta-6));
  };
  @gray: {
    color: rgb(var(--gray-6));
    bg: rgb(var(--gray-2));
    hover: rgb(var(--gray-3));
    border: rgb(var(--gray-6));
  };
};

each(@color, .(@value,@name){
  @key:replace(~"@{name}", "@", "");
  .yc-tag-color-@{key} {
    &.yc-tag-checked {
      color: @value[color];
      background-color: @value[bg];
      & when(@key = default){
        .yc-tag-icon{
          color: @value[icon];
        }
      }
      &.yc-tag-checkable:hover {
        border-color: transparent;
        background-color: @value[hover];
      }
      &.yc-tag-bordered {
        border-color: @value[border];
      }
    }
  }
});
