html[yc-design-dark] {
  .yc-transfer {
    .yc-transfer-view {
      border-color: #303030;
      .yc-transfer-view-header {
        background-color: #262626;
        color: #bfbfbf;
        .yc-transfer-view-header-count {
          color: #666666;
        }
      }
      .yc-transfer-view-body {
        .yc-transfer-list {
          .yc-transfer-list-item {
            color: #bfbfbf;
            &:hover {
              color: #bfbfbf;
              background-color: #303030;
            }
            &.yc-transfer-list-item-disabled {
              color: #424242;
            }
          }
        }
      }
    }
  }
  .yc-transfer-simple {
    .yc-transfer-view {
      &:last-child {
        border-left-color: #303030;
      }
    }
  }
}
