html[yc-design-dark] {
  .yc-transfer {
    .yc-transfer-view {
      border: 1px solid rgb(54, 54, 54);
      .yc-transfer-view-header {
        color: rgb(229, 229, 229);
        background-color: rgb(36, 36, 36);
        .yc-transfer-view-header-count {
          color: rgb(153, 153, 153);
        }
      }
      .yc-transfer-view-body {
        .yc-transfer-list {
          .yc-transfer-list-item {
            color: rgb(229, 229, 229);
            &:hover {
              color: rgb(229, 229, 229);
              background-color: rgb(54, 54, 54);
            }
            &.yc-transfer-list-item-disabled {
              color: rgb(102, 102, 102);
            }
          }
        }
      }
    }
  }
}
