.yc-transfer {
  --yc-transfer-border-color: rgb(229, 230, 235);
  --yc-transfer-header-bg-color: rgb(247, 248, 250);
  --yc-transfer-header-text-color: rgb(29, 33, 41);
  --yc-transfer-header-count-text-color: rgb(134, 144, 156);
  --yc-transfer-item-text-color: rgb(29, 33, 41);
  --yc-transfer-item-hover-bg-color: rgb(242, 243, 245);
  --yc-transfer-item-disabled-text-color: rgb(201, 205, 212);
  html[yc-design-dark] & {
    --yc-transfer-border-color: rgb(54, 54, 54);
    --yc-transfer-header-bg-color: rgb(36, 36, 36);
    --yc-transfer-header-text-color: rgb(229, 229, 229);
    --yc-transfer-header-count-text-color: rgb(153, 153, 153);
    --yc-transfer-item-text-color: rgb(229, 229, 229);
    --yc-transfer-item-hover-bg-color: rgb(54, 54, 54);
    --yc-transfer-item-disabled-text-color: rgb(102, 102, 102);
  }
}

.yc-transfer {
  display: flex;
  align-items: center;

  .yc-transfer-view {
    overflow: hidden;
    width: 200px;
    height: 224px;
    border: 1px solid var(--yc-transfer-border-color);
    border-radius: 2px;
    display: flex;
    flex-direction: column;

    .yc-transfer-view-header {
      height: 40px;
      padding: 0 10px;
      color: var(--yc-transfer-header-text-color);
      font-weight: 500;
      font-size: 14px;
      line-height: 40px;
      background-color: var(--yc-transfer-header-bg-color);
      display: flex;
      justify-content: space-between;
      align-items: center;
      .yc-transfer-view-header-count {
        color: var(--yc-transfer-header-count-text-color);
        font-size: 12px;
        font-weight: 400;
      }
    }
    .yc-transfer-view-search {
      padding: 8px 12px 4px 12px;
    }
    .yc-transfer-view-body {
      height: calc(100% - 40px);
      .yc-scrollbar {
        height: 100%;
        width: 100%;
        &:deep(.yc-scrollbar-container) {
          max-height: 100%;
          width: 100%;
          .yc-scrollbar-content {
            width: 100%;
          }
        }
      }
      .yc-transfer-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        .yc-transfer-list-item {
          flex-shrink: 0;
          overflow: hidden;
          height: 36px;
          max-width: 100%;
          padding: 0 12px;
          font-size: 14px;
          color: var(--yc-transfer-item-text-color);
          display: flex;
          align-items: center;
          gap: 6px;
          transition: all 0.1s cubic-bezier(0, 0, 1, 1);
          &:hover {
            color: var(--yc-transfer-item-text-color);
            background-color: var(--yc-transfer-item-hover-bg-color);
          }
          .yc-checkbox {
            flex: 1;
          }
          .yc-transfer-list-item-content {
            flex: 1;
          }
          &.yc-transfer-list-item-disabled {
            color: var(--yc-transfer-item-disabled-text-color);
            background: transparent;
            cursor: not-allowed;
          }
        }
      }
    }
  }
  .yc-transfer-operations {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
// simple
.yc-transfer-simple {
  .yc-transfer-view {
    &:last-child {
      border-left: 0;
    }
  }
}
// has-search
.yc-transfer-has-search {
  .yc-transfer-view {
    .yc-transfer-view-body {
      height: calc(100% - 88px);
    }
  }
}
