.yc-transfer {
  display: flex;
  align-items: center;

  .yc-transfer-view {
    overflow: hidden;
    width: 200px;
    height: 224px;
    border: 1px solid var(--color-neutral-3);
    border-radius: 2px;
    display: flex;
    flex-direction: column;

    .yc-transfer-view-header {
      height: 40px;
      padding: 0 10px;
      background-color: var(--color-fill-1);
      color: var(--color-text-1);
      font-weight: 500;
      font-size: 14px;
      line-height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .yc-transfer-view-header-count {
        color: var(--color-text-3);
        font-size: 12px;
        font-weight: 400;
      }
    }
    .yc-transfer-view-search {
      padding: 8px 12px 4px 12px;
    }
    .yc-transfer-view-body {
      height: calc(100% - 40px);
      .yc-scrollbar {
        height: 100%;
        width: 100%;
        .yc-scrollbar-container {
          max-height: 100%;
          width: 100%;
          .yc-scrollbar-content {
            width: 100%;
          }
        }
      }
      .yc-transfer-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        .yc-transfer-list-item {
          flex-shrink: 0;
          overflow: hidden;
          height: 36px;
          max-width: 100%;
          padding: 0 12px;
          font-size: 14px;
          color: var(--color-text-1);
          display: flex;
          align-items: center;
          gap: 6px;
          transition: all 0.1s cubic-bezier(0, 0, 1, 1);
          &:not(.yc-transfer-list-item-disabled):hover {
            color: var(--color-text-1);
            background-color: var(--color-fill-2);
          }
          .yc-checkbox {
            flex: 1;
          }
          .yc-transfer-list-item-content {
            flex: 1;
          }
          &.yc-transfer-list-item-disabled {
            color: var(--color-text-4);
            background: transparent;
            cursor: not-allowed;
          }
        }
      }
    }
  }
  .yc-transfer-operations {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
// simple
.yc-transfer-simple {
  .yc-transfer-view {
    &:last-child {
      border-left: 0;
    }
  }
}
// has-search
.yc-transfer-has-search {
  .yc-transfer-view {
    .yc-transfer-view-body {
      height: calc(100% - 88px);
    }
  }
}
