html[yc-design-dark] {
  .yc-radio {
    .yc-radio-icon {
      border-color: rgb(70, 70, 70);
      &::after {
        background-color: rgb(221, 221, 221);
      }
    }
    .yc-radio-label {
      color: rgb(221, 221, 221);
    }
  }
  .yc-radio-button {
    color: rgb(153, 153, 153);
    &::before {
      background-color: rgb(70, 70, 70);
    }
    &:not(.yc-radio-disabled) {
      &:hover {
        background-color: rgb(50, 50, 50);
        color: rgb(221, 221, 221);
      }
    }
  }
  .yc-radio-checked {
    &.yc-radio {
      .yc-radio-icon {
        background-color: rgb(22, 93, 255);
      }
    }
    &.yc-radio-button {
      color: rgb(22, 93, 255);
      background-color: rgb(30, 30, 30);
    }
  }
  .yc-radio-unchecked {
    &:not(.yc-radio-disabled):hover .yc-icon-button {
      .yc-radio-icon {
        border-color: rgb(102, 102, 102);
      }
    }
  }
  .yc-radio-disabled {
    &.yc-radio {
      &.yc-radio-unchecked {
        .yc-radio-icon {
          border-color: rgb(50, 50, 50);
          &::after {
            background-color: rgb(40, 40, 40);
          }
        }
      }
      &.yc-radio-checked {
        .yc-radio-icon {
          background-color: rgb(70, 100, 180);
        }
      }
      .yc-radio-label {
        color: rgb(102, 102, 102);
      }
    }
    &.yc-radio-button {
      &.yc-radio-unchecked {
        color: rgb(102, 102, 102);
      }
      &.yc-radio-checked {
        color: rgb(70, 100, 180);
      }
    }
  }
}

html[yc-design-dark] {
  .yc-radio-button-group {
    background-color: rgb(40, 40, 40);
  }
}
