html[yc-design-dark] {
  // radio
  .yc-radio {
    .yc-radio-icon {
      border-color: #424242;
      &::after {
        background-color: #ffffff;
      }
    }
    .yc-radio-label {
      color: rgba(255, 255, 255, 0.9);
    }
  }

  .yc-radio-button {
    color: rgba(255, 255, 255, 0.7);
    &::before {
      background-color: #424242;
    }
    &:not(.yc-radio-disabled) {
      &:hover {
        background-color: #303030;
        color: rgba(255, 255, 255, 0.9);
      }
    }
  }

  .yc-radio-checked {
    &.yc-radio {
      .yc-radio-icon {
        background-color: #306fff;
      }
    }
    &.yc-radio-button {
      color: #306fff;
      background-color: #1a1a1a;
    }
  }

  .yc-radio-unchecked {
    &:not(.yc-radio-disabled):hover .yc-icon-button {
      .yc-radio-icon {
        border-color: #666666;
      }
    }
  }

  .yc-radio-disabled {
    &.yc-radio {
      &.yc-radio-unchecked {
        .yc-radio-icon {
          border-color: #424242;
          &::after {
            background-color: #262626;
          }
        }
      }
      &.yc-radio-checked {
        .yc-radio-icon {
          background-color: #29478f;
        }
      }
      .yc-radio-label {
        color: rgba(255, 255, 255, 0.3);
      }
    }
    &.yc-radio-button {
      &.yc-radio-unchecked {
        color: rgba(255, 255, 255, 0.3);
      }
      &.yc-radio-checked {
        color: #29478f;
        background-color: #1a1a1a;
      }
    }
  }
  // radio-group
  .yc-radio-button-group {
    background-color: rgb(47, 49, 55);
  }
}
