.yc-radio-button-group {
  --yc-radio-button-group-bg-color: rgb(242, 243, 245);
  html[yc-design-dark] & {
    --yc-radio-button-group-bg-color: rgb(40, 40, 40);
  }
}

.yc-radio-group-direction-horizontal {
  display: inline-flex;
  align-items: center;
  gap: 20px;
}
.yc-radio-group-direction-vertical {
  display: flex;
  flex-direction: column;
  .yc-radio {
    line-height: 32px;
  }
}
.yc-radio-button-group {
  display: inline-flex;
  padding: 1.5px;
  background-color: var(--yc-radio-button-group-bg-color);
  border-radius: 2px;
}
