.yc-breadcrumb {
  display: inline-flex;
  align-items: center;
  color: var(--color-text-2);
  font-size: 14px;
  &:deep(.yc-breadcrumb-item) {
    &:last-child {
      color: var(--color-text-1);
      font-weight: 500;
    }
  }
}
