html[yc-design-dark] {
  .yc-breadcrumb {
    color: rgb(173, 179, 191);
    &:deep(.yc-breadcrumb-item) {
      &:last-child {
        color: rgb(255, 255, 255);
      }
    }
  }
}

html[yc-design-dark] {
  .yc-breadcrumb-item {
    a {
      &:hover {
        color: rgb(74, 139, 255);
        background-color: rgb(44, 44, 44);
      }
    }
  }

  .yc-breadcrumb-item-separator {
    color: rgb(70, 70, 70);
  }
}
