html[yc-design-dark] {
  // breadcrumb
  .yc-breadcrumb {
    color: #a0a6b5;
    &:deep(.yc-breadcrumb-item) {
      &:last-child {
        color: #e5e5e5;
      }
    }
  }
  // breadcrumb item
  .yc-breadcrumb-item {
    a {
      &:hover {
        color: #699bf7;
        background-color: #27394e;
      }
    }
  }
  .yc-breadcrumb-item-separator {
    color: #5a6579;
  }
}
