.yc-descriptions-item-label,
.yc-descriptions-item-value {
  line-height: 1.5715;
}
.yc-descriptions-item-label {
  color: var(--color-text-3);
  font-weight: 500;
}
.yc-descriptions-item-value {
  color: var(--color-text-1);
  font-weight: 400;
}
// size
@item-size: {
  @mini: {
    padding-bottom: 2px;
    bordered-padding: 3px;
  };
  @small: {
    padding-bottom: 4px;
    bordered-padding: 3px;
  };
  @medium: {
    padding-bottom: 8px;
    bordered-padding: 5px;
  };
  @large: {
    padding-bottom: 16px;
    bordered-padding: 9px;
  };
};
each(@item-size, .(@value,@name){
  @key:replace(~"@{name}", "@", "");
  @font-size:if(@key=mini,12px,14px);
  .yc-descriptions-item-cell-size-@{key} {
    font-size: @font-size;
    padding: 0 20px @value[padding-bottom] 0;
  &.yc-descriptions-item-cell-bordered {
    padding: @value[bordered-padding] 20px;
  }
  }
});
