.yc-verification-code {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .yc-input-outer {
    .yc-input-wrapper {
      padding: 0;
      .yc-input {
        text-align: center;
      }
    }
    &.yc-input-disabled-write {
      .yc-input-wrapper {
        opacity: 1;
        cursor: text;
        &:hover {
          background-color: var(--color-fill-3);
        }
        &:focus-within {
          border-color: transparent;
        }
      }
    }
  }
}

// size
@size: {
  mini: 24px;
  small: 28px;
  medium: 32px;
  large: 36px;
};
each(@size, {
    .yc-verification-code-size-@{key} {
      .yc-input-outer {
        width: @value;
      }
    }
  });
