.yc-alert {
  --yc-alert-title-color: rgb(29, 33, 41);
  --yc-alert-content-color: rgb(29, 33, 41);
  --yc-alert-close-btn-color: rgb(78, 89, 105);
  --yc-alert-close-btn-hover-color: rgb(29, 33, 41);
  --yc-alert-info-bg: rgb(232, 243, 255);
  --yc-alert-info-icon-color: rgb(22, 93, 255);
  --yc-alert-success-bg: rgb(232, 255, 234);
  --yc-alert-success-icon-color: rgb(0, 180, 42);
  --yc-alert-warning-bg: rgb(255, 247, 232);
  --yc-alert-warning-icon-color: rgb(255, 125, 0);
  --yc-alert-error-bg: rgb(255, 236, 232);
  --yc-alert-error-icon-color: rgb(245, 63, 63);
  --yc-alert-normal-bg: rgb(242, 243, 245);
  --yc-alert-normal-icon-color: rgb(201, 205, 212);
  html[yc-design-dark] & {
    --yc-alert-title-color: rgb(229, 230, 235);
    --yc-alert-content-color: rgb(229, 230, 235);
    --yc-alert-close-btn-color: rgb(177, 183, 193);
    --yc-alert-close-btn-hover-color: rgb(229, 230, 235);
    --yc-alert-info-bg: rgb(11, 35, 75);
    --yc-alert-info-icon-color: rgb(72, 143, 255);
    --yc-alert-success-bg: rgb(12, 50, 21);
    --yc-alert-success-icon-color: rgb(72, 204, 115);
    --yc-alert-warning-bg: rgb(61, 45, 5);
    --yc-alert-warning-icon-color: rgb(255, 174, 66);
    --yc-alert-error-bg: rgb(65, 23, 25);
    --yc-alert-error-icon-color: rgb(255, 104, 104);
    --yc-alert-normal-bg: rgb(33, 36, 41);
    --yc-alert-normal-icon-color: rgb(134, 144, 156);
  }
}

.yc-alert {
  overflow: hidden;
  width: 100%;
  padding: 8px 15px;
  border-radius: 2px;
  font-size: 14px;
  line-height: 1.5715;
  display: flex;
  align-items: center;
  gap: 8px;
  transform-origin: 50% 0;

  .yc-alert-icon {
    font-size: 16px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .yc-alert-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .yc-alert-title {
      margin-bottom: 4px;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      color: var(--yc-alert-title-color);
    }
    .yc-alert-content {
      color: var(--yc-alert-content-color);
    }
  }
  .yc-alert-close-btn {
    cursor: pointer;
    height: 22px;
    color: var(--yc-alert-close-btn-color);
    font-size: 12px;
    transition: color 0.1s cubic-bezier(0, 0, 1, 1);
    display: flex;
    justify-content: center;
    align-items: center;

    .yc-icon-button {
      color: inherit;
    }

    &:hover {
      color: var(--yc-alert-close-btn-hover-color);
    }
  }
}
// title
.yc-alert-has-title {
  padding: 15px;
  align-items: flex-start;
  .yc-alert-icon {
    font-size: 18px;
    height: 24px;
  }
}
// center
.yc-alert-center {
  .yc-alert-body {
    .yc-alert-title {
      text-align: center;
    }
    .yc-alert-content {
      text-align: center;
    }
  }
}
// banner
.yc-alert-banner {
  border-radius: 0;
  justify-content: center;
  .yc-alert-body {
    flex: unset;
  }
}

// type
@types: info, success, warning, error, normal;
each(@types, .(@name) {
  .yc-alert-@{name} {
    background-color: ~"var(--yc-alert-@{name}-bg)";
    .yc-alert-icon {
      color: ~"var(--yc-alert-@{name}-icon-color)";
    }
  }
});
