html[yc-design-dark] {
  .yc-alert {
    .yc-alert-body {
      .yc-alert-title {
        color: rgb(229, 230, 235);
      }
      .yc-alert-content {
        color: rgb(229, 230, 235);
      }
    }
    .yc-alert-close-btn {
      color: rgb(177, 183, 193);
      &:hover {
        color: rgb(229, 230, 235);
      }
    }
  }

  @type: {
    @info: {
      bg: rgb(11, 35, 75);
      icon-color: rgb(72, 143, 255);
    };
    @success: {
      bg: rgb(12, 50, 21);
      icon-color: rgb(72, 204, 115);
    };
    @warning: {
      bg: rgb(61, 45, 5);
      icon-color: rgb(255, 174, 66);
    };
    @error: {
      bg: rgb(65, 23, 25);
      icon-color: rgb(255, 104, 104);
    };
    @normal: {
      bg: rgb(33, 36, 41);
      icon-color: rgb(134, 144, 156);
    };
  };
  each(@type, .(@value, @name) {
    @key: replace(~"@{name}", "@", "");
    .yc-alert-@{key} {
      background-color: @value[bg];
      .yc-alert-icon {
        color: @value[icon-color]
      }
    }
  });
}
