// layout
.yc-layout {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.yc-layout-has-sider {
  flex-direction: row;
}

// 通用
.yc-layout,
.yc-layout-header,
.yc-layout-footer,
.yc-layout-sider,
.yc-layout-content {
  flex-shrink: 0;
}
.yc-layout-header,
.yc-layout-footer {
  width: 100%;
}
.yc-layout-sider {
  height: 100%;
}

.yc-layout-content {
  flex: 1;
}

// sider
.yc-layout-sider {
  position: relative;
  flex: none;
  margin: 0;
  padding: 0;
  transition: width 0.2s cubic-bezier(0.34, 0.69, 0.1, 1);
  body[yc-design-theme='dark'] & {
    background-color: #232324;
  }
  .yc-layout-sider-children {
    height: 100%;
    overflow: auto;
  }
  .yc-layout-sider-trigger {
    position: absolute;
    left: 0;
    bottom: 0;
    cursor: pointer;
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.yc-layout-sider-has-trigger {
  padding-bottom: 48px;
}
.yc-layout-sider-translation {
  transition: width 0.2s cubic-bezier(0.34, 0.69, 0.1, 1);
}
// theme
.yc-layout-sider-light {
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.08);
  .yc-layout-sider-trigger {
    border-top: 1px solid var(--color-bg-5);
    color: var(--color-text-1);
  }
}
.yc-layout-sider-dark {
  background-color: #232324;
  .yc-layout-sider-trigger {
    background-color: rgba(255, 255, 255, 0.2);
    color: var(--color-white);
  }
}
