html[yc-design-dark] {
  .yc-pagination {
    .yc-pagination-total {
      color: rgb(255, 255, 255);
    }
    .yc-pagination-item {
      color: rgb(173, 179, 191);
      &:not(.yc-pagination-item-disabled):not(
          .yc-pagination-item-active
        ):hover {
        color: rgb(173, 179, 191);
        background-color: rgb(44, 44, 44);
        &.yc-pagination-item-previous,
        &.yc-pagination-item-next {
          color: rgb(74, 139, 255);
        }
      }
      &.yc-pagination-item-disabled {
        color: rgb(70, 70, 70);
      }
      &.yc-pagination-item-active {
        color: rgb(74, 139, 255);
        background-color: rgb(30, 40, 50);
      }
    }
    .yc-pagination-jumper {
      .yc-pagination-jumper-text-goto {
        color: rgb(173, 179, 191);
      }
    }
  }
}
