.yc-pagination {
  --yc-pagination-total-color: rgb(29, 33, 41);
  --yc-pagination-item-color: rgb(78, 89, 105);
  --yc-pagination-item-hover-bg: rgb(247, 248, 250);
  --yc-pagination-item-arrow-hover-color: rgb(22, 93, 255);
  --yc-pagination-item-disabled-color: rgb(201, 205, 212);
  --yc-pagination-item-active-color: rgb(22, 93, 255);
  --yc-pagination-item-active-bg: rgb(232, 243, 255);
  --yc-pagination-jumper-goto-color: rgb(134, 144, 156);
  html[yc-design-dark] & {
    --yc-pagination-total-color: rgb(255, 255, 255);
    --yc-pagination-item-color: rgb(173, 179, 191);
    --yc-pagination-item-hover-bg: rgb(44, 44, 44);
    --yc-pagination-item-arrow-hover-color: rgb(74, 139, 255);
    --yc-pagination-item-disabled-color: rgb(70, 70, 70);
    --yc-pagination-item-active-color: rgb(74, 139, 255);
    --yc-pagination-item-active-bg: rgb(30, 40, 50);
    --yc-pagination-jumper-goto-color: rgb(173, 179, 191);
  }
}

.yc-pagination {
  display: flex;
  align-items: center;
  gap: 8px;
  .yc-pagination-total {
    height: 100%;
    color: var(--yc-pagination-total-color);
    white-space: nowrap;
  }
  .yc-pagination-list {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .yc-pagination-simple {
    display: flex;
    align-items: center;
    .yc-pagination-jumper-simple {
      gap: 0;
      padding: 0 4px;
      .yc-pagination-jumper-separator {
        padding: 0 12px;
      }
      .yc-pagination-jumper-total-page {
        padding-right: 8px;
      }
    }
  }
  .yc-pagination-item {
    outline: 0;
    cursor: pointer;
    user-select: none;
    padding: 0 8px;
    border-radius: 2px;
    background-color: transparent;
    color: var(--yc-pagination-item-color);
    display: flex;
    justify-content: center;
    align-items: center;
    &:not(.yc-pagination-item-disabled):not(.yc-pagination-item-active):hover {
      color: var(--yc-pagination-item-color);
      background-color: var(--yc-pagination-item-hover-bg);
      transition:
        color 0.2s cubic-bezier(0, 0, 1, 1),
        background-color 0.2s cubic-bezier(0, 0, 1, 1);
      &.yc-pagination-item-previous,
      &.yc-pagination-item-next {
        color: var(--yc-pagination-item-arrow-hover-color);
      }
    }
    &.yc-pagination-item-disabled {
      color: var(--yc-pagination-item-disabled-color);
      cursor: not-allowed;
      background-color: transparent;
    }
    &.yc-pagination-item-active {
      color: var(--yc-pagination-item-active-color);
      background-color: var(--yc-pagination-item-active-bg);
    }
  }
  .yc-pagination-options {
    &:deep(.yc-select) {
      width: 110px;
    }
  }
  .yc-pagination-jumper {
    display: flex;
    align-items: center;
    gap: 8px;
    &:deep(.yc-input-outer) {
      width: 40px;
      .yc-input-wrapper {
        padding-left: 2px;
        padding-right: 2px;

        .yc-input {
          text-align: center;
        }
      }
    }
    .yc-pagination-jumper-text-goto {
      color: var(--yc-pagination-jumper-goto-color);
      white-space: nowrap;
    }
  }
}
// size
@size: {
  mini: 24px;
  small: 28px;
  medium: 32px;
  large: 36px;
};
each(@size, {
  @font-size:if(@key=mini,12px,14px);
  .yc-pagination-size-@{key} {
    .yc-pagination-total {
      font-size:  @font-size;
      line-height:  @value;
    }
    .yc-pagination-item {
      min-width:  @value;
      height:  @value;
      font-size:  @font-size;
      line-height:  @value;
    }
    .yc-pagination-jumper > span {
      font-size:  @font-size;
    }
    
    & when (@key = mini) {
      .yc-pagination-options:deep(.yc-select) {
        width:  102px;
      }
    }
  }
});
