.yc-menu-group {
  --yc-menu-group-title-color: rgb(134, 144, 156);
  html[yc-design-dark] &,
  &.yc-menu-group-theme-dark {
    --yc-menu-group-title-color: #768390;
  }
}

.yc-menu-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
  .yc-menu-group-title {
    max-width: 100%;
    padding: 0 12px;
    line-height: 40px;
    font-size: 14px;
    color: var(--yc-menu-group-title-color);
    font-weight: 400;
  }
}
