.yc-menu {
  --yc-menu-bg: #fff;
  --yc-menu-btn-color: rgb(134, 144, 156);
  --yc-menu-btn-bg: rgb(247, 248, 250);
  --yc-menu-btn-hover-bg: rgb(229, 230, 235);
  html[yc-design-dark] &,
  &.yc-menu-theme-dark {
    --yc-menu-bg: #232324;
    --yc-menu-btn-color: #fff;
    --yc-menu-btn-bg: rgb(22, 93, 255);
    --yc-menu-btn-hover-bg: rgb(14, 66, 210);
  }
}

.yc-menu {
  position: relative;
  transition: width 0.2s cubic-bezier(0.34, 0.69, 0.1, 1);
  background-color: var(--yc-menu-bg);
  .yc-menu-inner {
    overflow: auto;
    padding: 4px 8px;
    display: flex;
  }
  .yc-menu-collapse-button {
    cursor: pointer;
    position: absolute;
    right: 12px;
    bottom: 12px;
    width: 24px;
    height: 24px;
    border-radius: 2px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--yc-menu-btn-color);
    background-color: var(--yc-menu-btn-bg);
    &:hover {
      background-color: var(--yc-menu-btn-hover-bg);
    }
  }
}
.yc-menu-mode-vertical {
  .yc-menu-inner {
    height: 100%;
    flex-direction: column;
    gap: 4px;
  }
}
.yc-menu-mode-horizontal {
  .yc-menu-inner {
    position: relative;
    overflow: hidden;
    min-height: 58px;
    width: 100%;
    padding: 14px 20px 14px 32px;
    display: flex;
    align-items: center;
    .yc-menu-inline {
      flex-shrink: 0;
    }
    gap: 12px;
  }
}
