html[yc-design-dark] {
  .yc-checkbox {
    .yc-checkbox-icon {
      border: 2px solid rgb(70, 70, 72);
      &::after {
        background: #fff;
      }
    }
    .yc-checkbox-label {
      color: rgb(229, 230, 235);
    }
  }

  .yc-checkbox-unchecked {
    &:not(.yc-checkbox-disabled):hover .yc-icon-button {
      &::before {
        background-color: rgba(70, 70, 72);
      }
      .yc-checkbox-icon {
        border-color: rgb(105, 109, 118);
      }
    }
  }

  .yc-checkbox-checked,
  .yc-checkbox-indeterminate {
    .yc-checkbox-icon {
      background-color: rgb(78, 134, 255);
    }

    &.yc-checkbox-disabled {
      .yc-checkbox-icon {
        background-color: rgb(55, 99, 170);
      }
    }
  }

  .yc-checkbox-disabled {
    .yc-icon-button {
      .yc-checkbox-icon {
        border-color: rgb(70, 70, 72);
        background-color: rgb(44, 44, 48);
      }
    }

    .yc-checkbox-label {
      color: rgb(105, 109, 118);
    }
  }
}
