html[yc-design-dark] {
  .yc-slider {
    .yc-slider-track {
      &::before {
        background-color: rgb(72, 72, 72);
      }
      .yc-slider-bar {
        background-color: rgb(22, 93, 255);
      }
      .yc-slider-btn {
        &::before {
          border-color: rgb(22, 93, 255);
          background: rgb(36, 36, 36);
        }
      }
    }
    .yc-slider-input {
      .yc-slider-input-divider {
        background: rgb(153, 153, 153);
      }
    }
    .yc-slider-ticks,
    .yc-slider-dots,
    .yc-slider-marks {
      .yc-slider-tick {
        background: rgb(72, 72, 72);
        &.yc-slider-tick-active {
          background-color: rgb(22, 93, 255);
        }
      }
      .yc-slider-dot {
        background-color: rgb(36, 36, 36);
        border-color: rgb(72, 72, 72);
        &.yc-slider-dot-active {
          border-color: rgb(22, 93, 255);
        }
      }
      .yc-slider-mark {
        color: rgb(153, 153, 153);
      }
    }
  }
  .yc-slider-disabled {
    .yc-slider-track {
      &::before {
        background-color: rgb(54, 54, 54);
      }
      .yc-slider-bar {
        background-color: rgb(72, 72, 72);
      }
      .yc-slider-btn {
        &::before {
          border-color: rgb(72, 72, 72);
        }
      }
    }
  }
}
