html[yc-design-dark] {
  .yc-notification {
    background-color: rgb(42, 46, 54);
    border-color: rgb(64, 69, 77);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

    .yc-notification-right {
      color: rgb(229, 230, 235);
    }

    .yc-notification-close-btn {
      color: rgb(177, 183, 193);
      &:hover {
        color: rgb(229, 230, 235);
      }
    }
  }

  @type: {
    info: rgb(72, 143, 255);
    warning: rgb(255, 174, 66);
    success: rgb(72, 204, 115);
    error: rgb(255, 104, 104);
    loading: rgb(72, 143, 255);
  };
  each(@type, {
    .yc-notification-@{key} {
      & when not(@key = normal) {
        background-color: rgb(42, 46, 54);
        border-color: rgb(64, 69, 77);
      }
      .yc-notification-icon {
        color: @value;
      }
    };
  });
}
