.yc-notification {
  overflow: hidden;
  position: relative;
  width: 340px;
  padding: 20px;
  background-color: var(--yc-notification-bg);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-medium);
  box-shadow: var(--yc-notification-shadow);
  opacity: 1;
  transition: opacity 0.2s cubic-bezier(0, 0, 1, 1);
  display: flex;
  gap: 16px;

  .yc-notification-left {
    .yc-notification-icon {
      font-size: 24px;
      display: flex;
      align-items: center;
    }
  }
  .yc-notification-right {
    color: var(--color-text-1);
    flex: 1;
    display: flex;
    flex-direction: column;

    .yc-notification-title {
      font-weight: 500;
      font-size: 16px;
    }
    .yc-notification-content {
      margin-top: 4px;
      font-size: 14px;
    }
    .yc-notification-footer {
      margin-top: 12px;
      text-align: right;
    }
  }
  .yc-notification-close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    color: var(--color-text-3);
    font-size: 12px;
    &:hover {
      color: var(--color-text-1);
    }
  }
}
// type
@types: {
  info: rgb(var(--primary-6));
  warning: rgb(var(--warning-6));
  success: rgb(var(--success-6));
  error: rgb(var(--danger-6));
  loading: rgb(var(--primary-6));
};
each(@types,  {
  .yc-notification-@{key} {
    .yc-notification-icon {
      color: @value;
    }
  }
});
