.yc-notification {
  --yc-notification-bg: #fff;
  --yc-notification-border-color: rgb(229, 230, 235);
  --yc-notification-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  --yc-notification-text-color: rgb(29, 33, 41);
  --yc-notification-close-btn-color: rgb(29, 33, 41);
  --yc-notification-close-btn-hover-color: rgb(29, 33, 41);
  --yc-notification-icon-info-color: rgb(22, 93, 255);
  --yc-notification-icon-warning-color: rgb(255, 125, 0);
  --yc-notification-icon-success-color: rgb(0, 180, 42);
  --yc-notification-icon-error-color: rgb(245, 63, 63);
  --yc-notification-icon-loading-color: rgb(22, 93, 255);
  html[yc-design-dark] & {
    --yc-notification-bg: rgb(42, 46, 54);
    --yc-notification-border-color: rgb(64, 69, 77);
    --yc-notification-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    --yc-notification-text-color: rgb(229, 230, 235);
    --yc-notification-close-btn-color: rgb(177, 183, 193);
    --yc-notification-close-btn-hover-color: rgb(229, 230, 235);
    --yc-notification-icon-info-color: rgb(72, 143, 255);
    --yc-notification-icon-warning-color: rgb(255, 174, 66);
    --yc-notification-icon-success-color: rgb(72, 204, 115);
    --yc-notification-icon-error-color: rgb(255, 104, 104);
    --yc-notification-icon-loading-color: rgb(72, 143, 255);
  }
}

.yc-notification {
  overflow: hidden;
  position: relative;
  width: 340px;
  padding: 20px;
  background-color: var(--yc-notification-bg);
  border: 1px solid var(--yc-notification-border-color);
  border-radius: 4px;
  box-shadow: var(--yc-notification-shadow);
  opacity: 1;
  transition: opacity 0.2s cubic-bezier(0, 0, 1, 1);
  display: flex;
  gap: 16px;
  .yc-notification-left {
    .yc-notification-icon {
      font-size: 24px;
      display: flex;
      align-items: center;
    }
  }
  .yc-notification-right {
    color: var(--yc-notification-text-color);
    flex: 1;
    display: flex;
    flex-direction: column;

    .yc-notification-title {
      font-weight: 500;
      font-size: 16px;
    }
    .yc-notification-content {
      margin-top: 4px;
      font-size: 14px;
    }
    .yc-notification-footer {
      margin-top: 12px;
      text-align: right;
    }
  }
  .yc-notification-close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    color: var(--yc-notification-close-btn-color);
    font-size: 12px;
    &:hover {
      color: var(--yc-notification-close-btn-hover-color);
    }
  }
}
// type
@type: {
  info: var(--yc-notification-icon-info-color);
  warning: var(--yc-notification-icon-warning-color);
  success: var(--yc-notification-icon-success-color);
  error: var(--yc-notification-icon-error-color);
  loading: var(--yc-notification-icon-loading-color);
};
each(@type, {
  .yc-notification-@{key} {
    & when not(@key = normal) {
      background-color: var(--yc-notification-bg);
      border-color: var(--yc-notification-border-color);
    }
    .yc-notification-icon {
      color: @value;
    }
  }
});
