// timeline
html[yc-design-dark] {
  .yc-timeline-reverse {
    &:deep(.yc-timeline-item-direction-vertical) {
      &:last-child {
        .yc-timeline-item-dot-line {
          border-color: rgb(70, 70, 72);
        }
      }
    }
  }
}

// item
html[yc-design-dark] {
  .yc-timeline-item {
    color: rgb(229, 230, 235);
    &:not(:last-child),
    &.yc-timeline-item-reverse:last-child {
      .yc-timeline-item-dot-line {
        border-color: rgb(70, 70, 72);
      }
    }
    .yc-timeline-item-dot-wrapper {
      .yc-timeline-item-dot-content {
        .yc-timeline-item-dot-custom {
          color: rgb(78, 134, 255);
          background-color: rgb(24, 24, 28);
        }
        .yc-timeline-item-dot {
          &.yc-timeline-item-dot-solid {
            background-color: rgb(78, 134, 255);
          }
          &.yc-timeline-item-dot-hollow {
            background-color: rgb(24, 24, 28);
            border-color: rgb(78, 134, 255);
          }
        }
      }
    }
    .yc-timeline-item-content-wrapper {
      .yc-timeline-item-content {
        color: rgb(229, 230, 235);
      }
    }
    .yc-timeline-item-label {
      color: rgb(151, 155, 165);
    }
  }
}
