html[yc-design-dark] {
  // timeline
  .yc-timeline {
    &:deep(.yc-timeline-item-dot-line) {
      border-color: rgba(255, 255, 255, 0.12);
    }
  }
  .yc-timeline-reverse {
    &:deep(.yc-timeline-item-direction-vertical) {
      &:last-child {
        .yc-timeline-item-dot-line {
          border-color: rgba(255, 255, 255, 0.12);
        }
      }
    }
  }
  // timeline-item
  .yc-timeline-item {
    color: rgba(255, 255, 255, 0.9);
    &:not(:last-child),
    &.yc-timeline-item-reverse:last-child {
      .yc-timeline-item-dot-line {
        border-color: rgba(255, 255, 255, 0.12);
      }
    }
    .yc-timeline-item-dot-wrapper {
      .yc-timeline-item-dot-content {
        .yc-timeline-item-dot-custom {
          color: rgb(96, 148, 255);
          background-color: rgba(255, 255, 255, 0.08);
        }
        .yc-timeline-item-dot {
          color: rgb(96, 148, 255);
          &.yc-timeline-item-dot-solid {
            background-color: rgb(96, 148, 255);
          }
          &.yc-timeline-item-dot-hollow {
            background-color: rgba(255, 255, 255, 0.08);
            border: 2px solid rgb(96, 148, 255);
          }
        }
      }
    }
    .yc-timeline-item-content-wrapper {
      .yc-timeline-item-content {
        color: rgba(255, 255, 255, 0.9);
      }
    }
    .yc-timeline-item-label {
      color: rgba(255, 255, 255, 0.4);
    }
  }
  .yc-timeline-item-ghost {
    &.yc-timeline-item-direction-horizontal {
      .yc-timeline-item-dot-wrapper {
        .yc-timeline-item-dot-content {
          .yc-timeline-item-dot-custom {
            color: rgb(96, 148, 255);
            background-color: rgba(255, 255, 255, 0.08);
          }
        }
      }
    }
  }
  .yc-timeline-item-direction-vertical {
    &:not(:last-child),
    &.yc-timeline-item-reverse:last-child {
      .yc-timeline-item-dot-line {
        border-color: rgba(255, 255, 255, 0.12);
      }
    }
  }
  .yc-timeline-item-direction-horizontal {
    &:not(:last-child),
    &.yc-timeline-item-reverse:last-child {
      .yc-timeline-item-dot-line {
        border-color: rgba(255, 255, 255, 0.12);
      }
    }
  }
}
