html[yc-design-dark] {
  .yc-page-header {
    .yc-page-header-wrapper {
      .yc-page-header-header {
        .yc-icon-button {
          color: rgb(173, 179, 191);
        }
        .yc-page-header-title {
          color: rgb(255, 255, 255);
        }
        .yc-page-header-subtitle {
          color: rgb(173, 179, 191);
        }
      }
    }
    .yc-page-header-content {
      border-top: 1px solid rgb(44, 44, 44);
    }
  }
}
