html[yc-design-dark] {
  .yc-page-header {
    .yc-page-header-wrapper {
      .yc-page-header-header {
        .yc-page-header-main {
          .yc-icon-button {
            color: #a0a6b5;
          }
          .yc-page-header-title {
            color: #e5e5e5;
          }
          .yc-page-header-subtitle {
            color: #768390;
          }
        }
      }
    }
    .yc-page-header-content {
      border-top: 1px solid #232324;
    }
  }
}
