.yc-resizebox {
  position: relative;
  overflow: hidden;
  width: 100%;
  .yc-resizebox-trigger {
    position: absolute;
    user-select: none;
    .yc-resizebox-trigger-icon-wrapper {
      height: 100%;
      background-color: var(--color-neutral-3);
      color: var(--color-text-1);
      font-size: 12px;
      line-height: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      .yc-icon {
        margin: -3px;
      }
    }
  }
  // 处理trigger的direction
  @direction: top, left, right, bottom;
  each(@direction,{
      .yc-resizebox-direction-@{value}{
        @{value}:0;
        & when not(@value = right){
          left: 0;
        }
        & when not(@value = bottom){
          top: 0;
        }
        & when(@value = left),(@value = right){
          cursor: col-resize;
          height: 100%;
        }
        & when(@value = top),(@value = bottom){
          cursor: row-resize;
          width: 100%;
        }
      }
    });
}
