html[yc-design-dark] {
  .yc-textarea-wrapper {
    background-color: rgb(36, 36, 36);
    color: rgb(229, 229, 229);
    &:not(.yc-textarea-disabled) {
      &:hover {
        background-color: rgb(54, 54, 54);
      }
      &:focus-within {
        background-color: rgb(36, 36, 36);
        border-color: rgb(22, 93, 255);
        box-shadow: 0 0 0 0 rgb(190, 218, 255);
      }
    }
    .yc-textarea-word-limit {
      color: rgb(153, 153, 153);
    }
    .yc-textarea {
      &::placeholder {
        color: rgb(153, 153, 153);
      }
    }
  }
  .yc-textarea-error {
    background-color: rgb(54, 34, 34);
    &:not(.yc-textarea-disabled) {
      &:hover {
        background-color: rgb(72, 43, 43);
      }
      &:focus-within {
        background-color: rgb(36, 36, 36);
        border-color: rgb(245, 63, 63);
        box-shadow: 0 0 0 0 rgb(253, 205, 197);
      }
    }
  }
  .yc-textarea-disabled {
    background-color: rgb(36, 36, 36);
    color: rgb(102, 102, 102);
    -webkit-text-fill-color: rgb(102, 102, 102);
  }
}
