html[yc-design-dark] {
  .yc-switch {
    &.yc-switch-unchecked {
      .yc-switch-handle {
        background-color: rgb(36, 36, 36);
        color: rgb(153, 153, 153);
      }
      .yc-switch-text {
        color: rgb(153, 153, 153);
      }
    }
    &.yc-switch-checked {
      .yc-switch-handle {
        background-color: rgb(36, 36, 36);
        color: rgb(22, 93, 255);
      }
      .yc-switch-text {
        color: #fff;
      }
    }
    &.yc-switch-loading,
    &.yc-switch-disabled {
      &.yc-switch-unchecked {
        &:not(.yc-switch-shape-line) {
          background-color: rgb(54, 54, 54);
        }
        &::after {
          background-color: rgb(54, 54, 54);
        }
        .yc-switch-handle {
          color: rgb(72, 72, 72);
        }
        .yc-switch-text {
          color: rgb(72, 72, 72);
        }
      }
      &.yc-switch-checked {
        &:not(.yc-switch-shape-line) {
          background-color: rgb(22, 93, 255);
        }
        &::after {
          background-color: rgb(22, 93, 255);
        }
        .yc-switch-handle {
          color: rgb(148, 191, 255);
        }
        .yc-switch-text {
          color: rgb(232, 243, 255);
        }
      }
    }
    &.yc-switch-shape-line {
      &::after {
        background-color: rgb(72, 72, 72);
      }
      .yc-switch-handle {
        box-shadow: 0 1px 3px rgb(134, 144, 156);
      }
    }
  }
}
