html[yc-design-dark] {
  .yc-switch-unchecked {
    .yc-switch-handle {
      background-color: #262626;
      color: #424242;
    }
    .yc-switch-text {
      color: #bfbfbf;
    }
  }
  .yc-switch-checked {
    .yc-switch-handle {
      background-color: #262626;
      color: #306fff;
    }
    .yc-switch-text {
      color: #bfbfbf;
    }
  }
  .yc-switch-loading,
  .yc-switch-disabled {
    &.yc-switch-unchecked {
      &:not(.yc-switch-shape-line) {
        background-color: #262626;
      }
      &::after {
        background-color: #262626;
      }
      .yc-switch-handle {
        color: #424242;
      }
      .yc-switch-text {
        color: #424242;
      }
    }
    &.yc-switch-checked {
      &:not(.yc-switch-shape-line) {
        background-color: #1a1a1a;
      }
      &::after {
        background-color: #1a1a1a;
      }
      .yc-switch-handle {
        color: #306fff;
      }
      .yc-switch-text {
        color: #306fff;
      }
    }
  }
  .yc-switch-shape-line {
    &::after {
      background-color: #424242;
    }
    .yc-switch-handle {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    }
  }
}
