html[yc-design-dark] {
  .yc-steps-mode-dot {
    @steps-item-status: {
      wait: rgb(110, 110, 110);
      process: rgb(74, 139, 255);
      finish: rgb(74, 139, 255);
      error: rgb(245, 63, 63);
    };
    each(@steps-item-status, {
      .yc-steps-item-@{key} {
        .yc-steps-item-node {
          background-color: @value;
          border-color: @value;
          
          & when (@key = process) {
            width: 10px;
            height: 10px;
          }
        }
      }
    });
  }
  .yc-steps-mode-arrow {
    .yc-steps-item {
      &:not(:first-child)::before {
        border-left: 36px solid rgb(30, 30, 30);
      }
      &:not(:last-child)::after {
        border-top: 36px solid transparent;
        border-bottom: 36px solid transparent;
      }
      &.yc-steps-item-wait {
        &::after {
          border-left: 36px solid rgb(44, 44, 44);
        }
      }
      &.yc-steps-item-process {
        &::after {
          border-left: 36px solid rgb(30, 40, 50);
        }
        .yc-steps-item-content {
          .yc-steps-item-title,
          .yc-steps-item-description {
            color: #fff;
          }
        }
      }
      &.yc-steps-item-finish {
        &::after {
          border-left: 36px solid rgb(23, 33, 43);
        }
      }
      &.yc-steps-item-error {
        &::after {
          border-left: 36px solid rgb(50, 20, 20);
        }
        .yc-steps-item-content {
          .yc-steps-item-title,
          .yc-steps-item-description {
            color: #fff;
          }
        }
      }
    }
    &.yc-steps-item-size-small {
      &:not(:first-child)::before {
        border-left: 20px solid rgb(30, 30, 30);
      }
      &.yc-steps-item-wait {
        &::after {
          border-left: 20px solid rgb(44, 44, 44);
        }
      }
      &.yc-steps-item-process {
        &::after {
          border-left: 20px solid rgb(30, 40, 50);
        }
      }
      &.yc-steps-item-finish {
        &::after {
          border-left: 20px solid rgb(23, 33, 43);
        }
      }
      &.yc-steps-item-error {
        &::after {
          border-left: 20px solid rgb(50, 20, 20);
        }
      }
    }
  }
  .yc-steps-mode-navigation {
    .yc-steps-item {
      &:not(:last-child)::before {
        border: 2px solid rgb(110, 110, 110);
        border-bottom: none;
        border-left: none;
        background-color: rgb(30, 30, 30);
      }
      &.yc-steps-item-process {
        .yc-steps-item-content {
          .yc-steps-item-title,
          .yc-steps-item-description {
            color: #fff;
          }
        }
      }
      &.yc-steps-item-error {
        .yc-steps-item-content {
          .yc-steps-item-title,
          .yc-steps-item-description {
            color: #fff;
          }
        }
      }
    }
  }
  .yc-steps-changeable {
    .yc-steps-item {
      &:not(.yc-steps-item-process) {
        &:hover {
          .yc-steps-item-content {
            .yc-steps-item-title,
            .yc-steps-item-description {
              color: rgb(74, 139, 255);
            }
          }
        }
      }
    }
  }
}

html[yc-design-dark] {
  .yc-steps-item {
    .yc-steps-item-content {
      .yc-steps-item-title {
        color: rgba(255, 255, 255, 0.85);
      }
      .yc-steps-item-description {
        color: rgba(255, 255, 255, 0.65);
      }
    }
  }
  .yc-steps-item-active {
    &.yc-steps-item-finish {
      &::after {
        background-color: rgba(32, 88, 179, 0.3);
      }
    }
    &.yc-steps-item-wait {
      &::after {
        background-color: rgba(255, 255, 255, 0.08);
      }
    }
    &.yc-steps-item-error {
      &::after {
        background-color: rgb(245, 63, 63);
      }
    }
    &.yc-steps-item-process {
      &::after {
        background-color: rgb(74, 139, 255);
      }
    }
  }
  @next-status: {
    wait: rgba(255, 255, 255, 0.2);
    process: rgb(74, 139, 255);
    finish: rgb(74, 139, 255);
    error: rgb(245, 63, 63);
  };
  each(@next-status, {
    .yc-steps-item-next-@{key} {
      &,
      .yc-steps-item-title,
      .yc-steps-item-tail {
        &::after {
          background-color: @value;
        }
      }
    }
  });
}
