.yc-steps-item {
  --yc-steps-title-color: rgb(29, 33, 41);
  --yc-steps-description-color: rgb(134, 144, 156);
  --yc-steps-process-color: rgb(22, 93, 255);
  --yc-steps-error-color: rgb(245, 63, 63);
  --yc-steps-active-finish-bg: rgb(232, 243, 255);
  --yc-steps-active-wait-bg: rgb(247, 248, 250);
  --yc-steps-next-wait-bg: rgb(229, 230, 235);
  html[yc-design-dark] & {
    --yc-steps-title-color: rgba(255, 255, 255, 0.85);
    --yc-steps-description-color: rgba(255, 255, 255, 0.65);
    --yc-steps-process-color: rgb(74, 139, 255);
    --yc-steps-active-finish-bg: rgba(32, 88, 179, 0.3);
    --yc-steps-active-wait-bg: rgba(255, 255, 255, 0.08);
    --yc-steps-next-wait-bg: rgba(255, 255, 255, 0.2);
  }
}

.yc-steps-item {
  .yc-steps-item-tail {
    position: absolute;
  }
  .yc-steps-item-node {
    font-weight: 500;
    font-size: 16px;
    .yc-steps-icon {
      width: 28px;
      height: 28px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .yc-steps-item-content {
    display: flex;
    flex-direction: column;
    gap: 2px;
    .yc-steps-item-title {
      line-height: 28px;
      font-size: 16px;
      color: var(--yc-steps-title-color);
      transition: all 0.1s cubic-bezier(0, 0, 1, 1);
    }
    .yc-steps-item-description {
      max-width: 140px;
      font-size: 12px;
      color: var(--yc-steps-description-color);
      transition: all 0.1s cubic-bezier(0, 0, 1, 1);
    }
  }
}
// active
.yc-steps-item-active {
  &::after {
    content: '';
    position: absolute;
    display: block;
    height: 2px;
    right: 30px;
    left: 0;
    bottom: 0;
  }
  &.yc-steps-item-finish {
    &::after {
      background-color: var(--yc-steps-active-finish-bg);
    }
  }
  &.yc-steps-item-wait {
    &::after {
      background-color: var(--yc-steps-active-wait-bg);
    }
  }
  &.yc-steps-item-error {
    &::after {
      background-color: var(--yc-steps-error-color);
    }
  }
  &.yc-steps-item-process {
    &::after {
      background-color: var(--yc-steps-process-color);
    }
  }
}
// next-status
@next-status: {
  wait: --yc-steps-next-wait-bg;
  process: --yc-steps-process-color;
  finish: --yc-steps-process-color;
  error: --yc-steps-error-color;
};
each(@next-status, {
  .yc-steps-item-next-@{key} {
    &,
    .yc-steps-item-title,
    .yc-steps-item-tail {
      &::after {
        background-color: var(@value);
      }
    }
  }
});
