html[yc-design-dark] {
  .yc-progress {
    .yc-progress-steps-item {
      background-color: #303030;
    }
    .yc-progress-line {
      background-color: #303030;
    }
    .yc-progress-circle-bg {
      stroke: #303030;
    }
    .yc-progress-steps-text,
    .yc-progress-line-text,
    .yc-progress-circle-text {
      color: #bfbfbf;
    }
    .yc-progress-circle-text {
      color: #858585;
    }
  }
  .yc-progress-status-normal {
    .yc-progress-steps-item-active,
    .yc-progress-line-bar {
      background-color: #165dff;
    }
    .yc-progress-circle-bar {
      stroke: #165dff;
    }
  }
  .yc-progress-status-success {
    .yc-progress-steps-item-active,
    .yc-progress-line-bar {
      background-color: #00b42a;
    }
    .yc-progress-circle-bar {
      stroke: #00b42a;
    }
  }
  .yc-progress-status-warning {
    .yc-progress-steps-item-active,
    .yc-progress-line-bar {
      background-color: #ff7d00;
    }
    .yc-progress-circle-bar {
      stroke: #ff7d00;
    }
  }
  .yc-progress-status-danger {
    .yc-progress-steps-item-active,
    .yc-progress-line-bar {
      background-color: #f53f3f;
    }
    .yc-progress-circle-bar {
      stroke: #f53f3f;
    }
  }
}
