html[yc-design-dark] {
  .yc-drawer-wrapper {
    .yc-drawer-mask {
      background-color: rgba(0, 0, 0, 0.45);
    }
    .yc-drawer-container {
      background-color: rgb(36, 36, 36);
      .yc-drawer-header {
        border-bottom: 1px solid rgb(54, 54, 54);
        .yc-drawer-title {
          span {
            color: rgb(229, 229, 229);
          }
        }
      }
      .yc-drawer-body {
        color: rgb(229, 229, 229);
      }
      .yc-drawer-footer {
        border-top: 1px solid rgb(54, 54, 54);
      }
    }
  }
}
