html[yc-design-dark] {
  .yc-typography {
    color: rgb(229, 230, 235);

    &:deep(mark) {
      background-color: rgb(128, 97, 8);
    }

    &:deep(code) {
      background-color: rgb(48, 48, 49);
      border: 1px solid rgb(60, 60, 62);
      color: rgb(193, 194, 195);
    }

    .yc-typography-operation-edit,
    .yc-typography-operation-copy {
      color: rgb(134, 137, 140);

      &:hover {
        color: rgb(193, 194, 195);
        background-color: rgb(48, 48, 49);
      }
    }
  }
  @dark-type: {
    primary: rgb(46, 126, 255);
    secondary: rgb(193, 194, 195);
    success: rgb(19, 173, 58);
    danger: rgb(245, 63, 63);
    warning: rgb(250, 140, 42);
    disabled: rgb(81, 84, 86);
  };
  each(@dark-type, {
      .yc-typography-@{key} {
        color: @value;
        & when (@key = disabled) {
          cursor: not-allowed;
        }
      }
    });
  //  paragraph
  .yc-typography blockquote {
    background-color: rgb(38, 38, 40);
    border-left: 2px solid rgb(81, 84, 86);
  }
}
