.yc-typography {
  .yc-typography-blockquote {
    margin: 0 0 1em;
    padding-left: 8px;
    background-color: var(--yc-blockquote-bg);
    border-left: 2px solid var(--yc-blockquote-border-color);
  }
}

.yc-typography-spacing-close {
  line-height: 1.3;
}
