.yc-typography {
  color: var(--color-text-1);
  line-height: 1.5715;
  white-space: normal;
  overflow-wrap: anywhere;

  &:deep(mark) {
    background-color: rgb(var(--yellow-4));
    body[yc-design-theme='dark'] & {
      background-color: rgb(var(--yellow-2));
    }
  }
  &:deep(code) {
    margin: 0 2px;
    padding: 2px 8px;
    background-color: var(--color-fill-2);
    border: 1px solid var(--color-border-2);
    border-radius: var(--border-radius-small);
    font-size: 85%;
    color: var(--color-text-2);
  }
  &:deep(del) {
    text-decoration: line-through;
  }
  &:deep(u) {
    text-decoration: underline;
  }
  &:deep(b) {
    font-weight: 500;
  }
  .yc-typography-operation-edit,
  .yc-typography-operation-copy {
    cursor: pointer;
    height: 100%;
    padding: 2px;
    margin-left: 2px;
    border-radius: var(--border-radius-small);
    transition: background-color 0.1s cubic-bezier(0, 0, 1, 1);
    color: var(--color-text-3);
    display: inline-flex;
    align-items: center;
    > span {
      display: flex;
      align-items: center;
    }
    &:hover {
      color: var(--color-text-2);
      background-color: var(--color-fill-2);
    }
  }
}
// type
@type: {
  primary: rgb(var(--primary-6));
  secondary: var(--color-text-2);
  success: rgb(var(--success-6));
  danger: rgb(var(--danger-6));
  warning: rgb(var(--warning-6));
  disabled: var(--color-text-4);
};
each(@type, {
  .yc-typography-@{key} {
    color: @value;
    & when (@key = disabled) {
      cursor: not-allowed;
    }
  }
});
