html[yc-design-dark] {
  .yc-modal-container {
    .yc-modal-mask {
      background-color: rgba(0, 0, 0, 0.45);
    }
    .yc-modal-wrapper {
      .yc-modal {
        background-color: rgb(36, 36, 36);
        .yc-modal-header {
          border-bottom: 1px solid rgb(54, 54, 54);
          .yc-modal-title {
            span {
              color: rgb(229, 229, 229);
            }
          }
        }
        .yc-modal-body {
          color: rgb(229, 229, 229);
        }
        .yc-modal-footer {
          border-top: 1px solid rgb(54, 54, 54);
        }
      }
    }
  }
  .yc-modal-simple {
    .yc-modal-wrapper {
      .yc-modal {
        background-color: rgb(36, 36, 36);
        .yc-modal-header {
          border-bottom: none;
          .yc-modal-title {
            span {
              color: rgb(229, 229, 229);
            }
          }
        }
        .yc-modal-body {
          color: rgb(229, 229, 229);
        }
        .yc-modal-footer {
          border-top: none;
        }
      }
    }
  }
}
