html[yc-design-dark] {
  .yc-modal-container {
    .yc-modal-mask {
      background-color: rgba(0, 0, 0, 0.7);
    }
    .yc-modal-wrapper {
      .yc-modal {
        background-color: #242424;
        .yc-modal-header {
          border-bottom: 1px solid #343434;
          .yc-modal-title {
            span {
              color: #e5e5e5;
            }
          }
        }
        .yc-modal-body {
          color: #e5e5e5;
        }
        .yc-modal-footer {
          border-top: 1px solid #343434;
        }
      }
    }
  }
  .yc-modal-simple {
    .yc-modal-wrapper {
      .yc-modal {
        background-color: #242424;
        .yc-modal-header {
          .yc-modal-title {
            span {
              color: #e5e5e5;
            }
          }
        }
        .yc-modal-body {
          color: #e5e5e5;
        }
      }
    }
  }
}
