.yc-anchor-link-item {
  display: flex;
  flex-direction: column;
  gap: 2px;
  .yc-anchor-link {
    cursor: pointer;
    min-height: 30px;
    padding: 4px 8px;
    border-radius: 2px;
    color: var(--color-text-2);
    font-size: 14px;
    line-height: 1.5715;
    transition: all 0.1s cubic-bezier(0, 0, 1, 1);
    &:hover {
      color: var(--color-text-1);
      font-weight: 500;
      background-color: var(--color-fill-2);
    }
  }
  .yc-anchor-sublist {
    display: flex;
    flex-direction: column;
    gap: 2px;
    .yc-anchor-link-item {
      margin-left: 12px;
    }
  }
}
.yc-anchor-link-active {
  & > .yc-anchor-link {
    color: var(--color-text-1);
    font-weight: 500;
  }
}
.yc-anchor-link-lineless-active {
  & > .yc-anchor-link {
    color: rgb(var(--primary-6));
    font-weight: 500;
    background-color: var(--color-fill-2);
  }
}
