html[yc-design-dark] {
  .yc-anchor {
    .yc-anchor-line-slider {
      background-color: rgb(74, 139, 255);
    }
    .yc-anchor-line-track {
      background-color: rgba(255, 255, 255, 0.08);
    }
  }
}

html[yc-design-dark] {
  .yc-anchor-link-item {
    .yc-anchor-link {
      color: rgba(255, 255, 255, 0.65);
      &:hover {
        color: rgba(255, 255, 255, 0.85);
        background-color: rgba(255, 255, 255, 0.08);
      }
    }
  }
  .yc-anchor-link-active {
    & > .yc-anchor-link {
      color: rgba(255, 255, 255, 0.85);
    }
  }
  .yc-anchor-link-lineless-active {
    & > .yc-anchor-link {
      background-color: rgba(255, 255, 255, 0.08);
      color: rgb(74, 139, 255);
    }
  }
}
