html[yc-design-dark] {
  .yc-trigger {
    &.yc-popover {
      .yc-popover-popup-content {
        color: rgba(255, 255, 255, 0.45);
        background-color: #1d1d1d;
        border-color: rgba(255, 255, 255, 0.09);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        .yc-popover-title {
          color: rgba(255, 255, 255, 0.85);
        }
      }
      .yc-popover-popup-arrow {
        border-color: rgba(255, 255, 255, 0.09);
      }
    }
  }
}
