html[yc-design-dark] {
  .yc-trigger {
    &.yc-popover {
      .yc-popover-popup-content {
        color: #a1a8b8;
        background-color: #2a2f3a;
        border-color: #484d57;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        .yc-popover-title {
          color: #e5e6eb;
        }
      }
      .yc-popover-popup-arrow {
        border-color: #484d57;
        background-color: #2a2f3a;
      }
    }
  }
}
