.yc-trigger {
  &.yc-popover {
    .yc-popover-popup-content {
      padding: 12px 16px;
      color: var(--color-text-2);
      font-size: 14px;
      line-height: 1.5715;
      background-color: var(--yc-popover-content-bg);
      border: 1px solid var(--yc-popover-content-border-color);
      border-radius: 4px;
      box-shadow: var(--yc-popover-content-shadow);

      .yc-popover-title {
        color: var(--color-text-1);
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 4px;
      }
    }

    .yc-popover-popup-arrow {
      z-index: 1;
      border: 1px solid var(--yc-popover-arrow-border-color);
      background-color: var(--yc-popover-arrow-bg);
    }
  }
}
