.yc-popover {
  --yc-popover-text-color: rgb(78, 89, 105);
  --yc-popover-bg-color: #fff;
  --yc-popover-border-color: rgb(229, 230, 235);
  --yc-popover-box-shadow: 0 4px 10px #0000001a;
  --yc-popover-title-color: rgb(29, 33, 41);
  html[yc-design-dark] & {
    --yc-popover-text-color: #a1a8b8;
    --yc-popover-bg-color: #2a2f3a;
    --yc-popover-border-color: #484d57;
    --yc-popover-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    --yc-popover-title-color: #e5e6eb;
  }
}

.yc-trigger {
  &.yc-popover {
    .yc-popover-popup-content {
      padding: 12px 16px;
      color: var(--yc-popover-text-color);
      font-size: 14px;
      line-height: 1.5715;
      background-color: var(--yc-popover-bg-color);
      border: 1px solid var(--yc-popover-border-color);
      border-radius: 4px;
      box-shadow: var(--yc-popover-box-shadow);
      .yc-popover-title {
        color: var(--yc-popover-title-color);
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 4px;
      }
    }
    .yc-popover-popup-arrow {
      z-index: 1;
      border: 1px solid var(--yc-popover-border-color);
      background-color: var(--yc-popover-bg-color);
    }
  }
}
