.yc-trigger {
  &.yc-popover {
    .yc-popover-popup-content {
      padding: 12px 16px;
      color: var(--color-text-2);
      font-size: 14px;
      line-height: 1.5715;
      background-color: var(--color-bg-white);
      border: 1px solid var(--color-border-2);
      border-radius: 4px;
      box-shadow: 0 4px 10px #0000001a;
      .yc-popover-title {
        color: var(--color-text-1);
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 4px;
      }
    }
    .yc-popover-popup-arrow {
      z-index: 1;
      border: 1px solid var(--color-border-2);
      background-color: var(--color-bg-white);
    }
  }
}

body[yc-design-theme='dark'] .yc-trigger.yc-popover {
  .yc-popover-popup-content {
    color: var(--color-text-2);
    background-color: var(--color-bg-3);
    border-color: var(--color-border);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    .yc-popover-title {
      color: var(--color-text-1);
    }
  }
  .yc-popover-popup-arrow {
    border-color: var(--color-border);
    background-color: var(--color-bg-3);
  }
}
