html[yc-design-dark] {
  .yc-spin {
    color: rgb(74, 139, 255);

    .yc-dot-loading {
      .yc-dot-loading-item {
        background-color: rgb(74, 139, 255);
        &:nth-child(2) {
          background-color: rgb(104, 165, 255);
        }
        &:nth-child(3) {
          background-color: rgb(133, 186, 255);
        }
        &:nth-child(4) {
          background-color: rgb(133, 186, 255);
        }
        &:nth-child(5) {
          background-color: rgb(186, 217, 255);
        }
      }
    }

    .yc-spin-tip {
      color: rgb(74, 139, 255);
    }

    .yc-spin-mask {
      background-color: rgba(31, 31, 31, 0.6);
    }
  }
}
