html[yc-design-dark] {
  .yc-spin {
    color: #4d88ff;
    .yc-dot-loading {
      .yc-dot-loading-item {
        background-color: #4d88ff;
        &:nth-child(2) {
          background-color: #6699ff;
        }
        &:nth-child(3) {
          background-color: #80b3ff;
        }
        &:nth-child(4) {
          background-color: #80b3ff;
        }
        &:nth-child(5) {
          background-color: #b3d1ff;
        }
      }
    }
    .yc-spin-tip {
      color: #4d88ff;
    }
    .yc-spin-mask {
      background-color: rgba(0, 0, 0, 0.6);
    }
  }
}
