// tabs
html[yc-design-dark] {
  .yc-tabs {
    .yc-tabs-nav-tab-list {
      .yc-tabs-nav-ink {
        background-color: #3c7eff;
      }
    }
  }
  .yc-tabs-type-card,
  .yc-tabs-type-card-gutter,
  .yc-tabs-type-line {
    &.yc-tabs-horizontal {
      .yc-tabs-nav {
        &::before {
          background-color: #303540;
        }
      }
    }
    &.yc-tabs-vertical {
      .yc-tabs-nav {
        &::before {
          background-color: #303540;
        }
      }
    }
    &:not(.yc-tabs-type-line) {
      &.yc-tabs-horizontal {
        .yc-tabs-content {
          border-color: #303540;
        }
        &.yc-tabs-bottom {
          .yc-tabs-content {
            border-color: #303540;
          }
        }
      }
      &.yc-tabs-vertical {
        .yc-tabs-content {
          border-color: #303540;
        }
      }
    }
  }
  .yc-tabs-type-card-gutter {
    .yc-tabs-nav-tab-list {
      background-color: #232529;
    }
  }
}

// tabs-tab
html[yc-design-dark] {
  .yc-tabs-tab {
    color: rgb(173, 179, 191);
    .yc-tabs-tab-title {
      &::after {
        background-color: transparent;
      }
    }
    &.yc-tabs-tab-active {
      color: rgb(72, 138, 255);
    }
  }

  // line text
  .yc-tabs-tab-type-line,
  .yc-tabs-tab-type-text {
    &:not(.yc-tabs-tab-active):not(.yc-tabs-tab-disabled):hover
      .yc-tabs-tab-title {
      &::after {
        background-color: rgb(44, 46, 51);
      }
    }
    &.yc-tabs-tab-type-text {
      &:not(:first-child)::before {
        background-color: rgb(63, 66, 73);
      }
    }
  }
  // card card-gutter
  .yc-tabs-tab-type-card,
  .yc-tabs-tab-type-card-gutter {
    border-color: rgb(63, 66, 73);
    &.yc-tabs-tab {
      &:not(.yc-tabs-tab-disabled):not(.yc-tabs-tab-active):hover {
        background-color: rgb(63, 66, 73);
      }
    }
    &.yc-tabs-tab-type-card-gutter {
      background-color: rgb(35, 37, 42);
    }
    &.yc-tabs-tab-horizontal {
      &.yc-tabs-tab-active {
        border-bottom-color: #23272f;
        &.yc-tabs-tab-bottom {
          border-top-color: #23272f;
          border-bottom-color: rgb(63, 66, 73);
        }
      }
    }
    &.yc-tabs-tab-vertical {
      &:not(:last-child) {
        border-bottom: 1px solid rgb(63, 66, 73);
      }
      &.yc-tabs-tab-active {
        border-right-color: #23272f;
        &.yc-tabs-tab-right {
          border-right-color: rgb(63, 66, 73);
          border-left-color: #23272f;
        }
      }
    }
  }

  // rounded
  .yc-tabs-tab-type-rounded {
    &:not(.yc-tabs-tab-disabled):hover {
      background-color: rgb(44, 46, 51);
    }
    &.yc-tabs-tab-active {
      background-color: rgb(44, 46, 51);
    }
  }

  // capsule
  .yc-tabs-tab-type-capsule {
    &:not(.yc-tabs-tab-disabled):hover {
      background-color: #2a2d35;
    }
    &.yc-tabs-tab-active {
      background-color: #2a2d35;
    }
  }

  .yc-tabs-tab-disabled {
    color: rgb(84, 89, 102);
    &.yc-tabs-tab-active {
      color: rgb(100, 144, 255);
    }
  }
}
