html[yc-design-dark] {
  // panel
  .yc-color-picker-panel {
    background-color: rgb(36, 36, 40);
    box-shadow: 0 8px 20px #00000066;
    .yc-color-picker-palette {
      border-color: rgb(70, 70, 72);
    }
    .yc-color-picker-panel-control {
      .yc-color-picker-control-wrapper {
        .yc-color-picker-control-bar {
          border-color: rgb(70, 70, 72);
          .yc-color-picker-control-bar-handler {
            border-color: rgb(70, 70, 72);
            &::after {
              background-color: rgb(36, 36, 40);
            }
          }
        }
        .yc-color-picker-preview {
          border-color: rgb(70, 70, 72);
        }
      }
      .yc-color-picker-input-wrapper {
        &:deep(.yc-input-outer) {
          .yc-input-wrapper {
            border-color: rgb(70, 70, 72);
            &:focus-within:not(.yc-input-disabled) {
              border-color: #4e86ff;
            }
          }
        }
      }
    }
    .yc-color-picker-panel-colors {
      border-color: rgb(70, 70, 72);
      .yc-color-picker-colors-section {
        .yc-color-picker-colors-empty {
          color: rgb(105, 109, 118);
        }
      }
    }
  }
  // picker
  .yc-color-picker {
    background-color: rgb(44, 44, 48);
    .yc-color-picker-value {
      color: rgb(229, 230, 235);
    }
    &:not(.yc-color-picker-disabled):hover {
      background-color: rgb(70, 70, 72);
    }
  }
  // disabled
  .yc-color-picker-disabled {
    background-color: rgb(44, 44, 48);
    .yc-color-picker-value {
      color: rgb(105, 109, 118);
    }
  }
}
