.yc-collapse {
  width: 100%;
  overflow: hidden;
  line-height: 1.5715;
  border-radius: var(--border-radius-medium);
  .yc-collapse-item {
    &:last-child {
      border-bottom: none;
    }
  }
}
.yc-collapse-bordered {
  border: 1px solid var(--color-neutral-3);
}
