:root {
  --yc-collapse-border-color: rgb(229, 230, 235);
}
html[yc-design-dark] {
  --yc-collapse-border-color: rgb(60, 60, 62);
}

.yc-collapse {
  width: 100%;
  overflow: hidden;
  line-height: 1.5715;
  border-radius: 4px;
  &:deep(.yc-collapse-item) {
    &:last-child {
      border-bottom: none;
    }
  }
}
.yc-collapse-bordered {
  border: 1px solid var(--yc-collapse-border-color);
}
