html[yc-design-dark] {
  // collapse
  .yc-collapse-bordered {
    border: 1px solid rgb(60, 60, 62);
  }
  // collapse-item
  .yc-collapse-item {
    border-bottom: 1px solid rgb(60, 60, 62);
    .yc-collapse-item-header {
      color: rgb(229, 230, 235);
      background-color: rgb(29, 29, 30);
    }
    .yc-collapse-item-content {
      color: rgb(229, 230, 235);
      background-color: rgb(38, 38, 40);
    }
  }
  .yc-collapse-item-disabled {
    .yc-collapse-item-header {
      color: rgb(81, 84, 86);
      background-color: rgb(29, 29, 30);
    }
  }
}
