.yc-avatar-group {
  height: fit-content;
  width: fit-content;
  display: inline-flex;
  align-items: center;

  &:deep(.yc-avatar) {
    flex-shrink: 0;
    border: 2px solid var(--color-bg-white);
  }

  body[yc-design-theme='dark'] & {
    &:deep(.yc-avatar) {
      border-color: var(--color-bg-1);
    }
  }
}
