.yc-avatar-group {
  height: fit-content;
  width: fit-content;
  display: inline-flex;
  align-items: center;

  &:deep(.yc-avatar) {
    flex-shrink: 0;
    border: 2px solid var(--yc-avatar-group-border-color);
  }
}
