html[yc-design-dark] {
  // avatar
  .yc-avatar {
    background-color: rgb(81, 84, 86);
    &:hover .yc-avatar-trigger-icon-button {
      background-color: rgb(60, 60, 62);
    }
    .yc-avatar-trigger-icon-button {
      color: rgb(134, 137, 140);
      background-color: rgb(48, 48, 49);
    }
    .yc-avatar-trigger-icon-mask {
      background-color: rgba(29, 29, 30, 0.6);
    }
  }
  // group
  .yc-avatar-group {
    &:deep(.yc-avatar) {
      border: 2px solid rgb(29, 29, 30);
    }
  }
}
