// expand-transition
.expand-enter-active,
.expand-leave-active {
  transition:
    max-height 0.2s cubic-bezier(0.34, 0.69, 0.1, 1),
    opacity 0.2s cubic-bezier(0.3, 1.3, 0.3, 1);
}

// icon
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.yc-icon {
  display: inline-block;
  overflow: hidden;
  width: 1em;
  height: 1em;
  color: inherit;
}
.yc-icon-spin {
  animation: spin 1s infinite cubic-bezier(0, 0, 1, 1);
}

// icon-button
.yc-icon-button {
  user-select: none;
  cursor: pointer;
  position: relative;
  color: var(--color-text-1);
  display: flex;
  justify-content: center;
  align-items: center;
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--icon-btn-size);
    height: var(--icon-btn-size);
    border-radius: 50%;
    background: transparent;
    transition: background-color 0.1s cubic-bezier(0, 0, 1, 1);
  }
  &:deep(.yc-icon) {
    z-index: 1;
  }
}
// hoverable
.yc-icon-button-hoverable {
  &:not(.yc-icon-button-disabled):hover::before {
    background-color: var(--color-fill-2);
  }
}
// disabled
.yc-icon-button-disabled {
  color: var(--color-text-3);
}

// modal
.yc-modal-container {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  .yc-modal-mask {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--color-mask-bg);
  }
  .yc-modal-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: auto;

    .yc-modal {
      position: absolute;
      border-radius: 4px;
      background-color: var(--color-bg-3);
      line-height: 1.5715;
      display: flex;
      flex-direction: column;
      // 全屏
      &.yc-modal-fullscreen {
        height: 100%;
        .yc-modal-body {
          flex: 1;
        }
      }
      // 推拽
      &.yc-modal-draggable {
        .yc-modal-header {
          cursor: move;
          user-select: none;
        }
      }
      .yc-modal-footer,
      .yc-modal-body,
      .yc-modal-header,
      .yc-modal-title,
      .yc-modal-close-button {
        flex-shrink: 0;
      }
      .yc-modal-header {
        height: 48px;
        width: 100%;
        padding: 0 20px;
        border-bottom: 1px solid var(--color-neutral-3);
        display: flex;
        align-items: center;
        .yc-modal-title {
          flex: 1;
          span {
            font-size: 16px;
            font-weight: 500;
            color: var(--color-text-1);
          }
          &.title-align-center {
            text-align: center;
          }
        }
        .yc-modal-close-button {
          margin-left: -12px;
        }
      }
      .yc-modal-body {
        padding: 24px 20px;
        color: var(--color-text-1);
        font-size: 14px;
        line-height: 1.5715;
      }
      .yc-modal-footer {
        height: 64px;
        width: 100%;
        padding: 16px 20px;
        border-top: 1px solid var(--color-neutral-3);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 12px;
      }
    }
  }
}
.yc-modal-position-absolute {
  position: absolute;
}
.yc-modal-simple {
  .yc-modal-wrapper {
    .yc-modal {
      width: 400px;
      padding: 24px 32px 32px;
      .yc-modal-header,
      .yc-modal-footer,
      .yc-modal-body {
        height: unset;
        padding: 0;
        border: none;
        &.yc-modal-header {
          margin-bottom: 24px;
        }
        &.yc-modal-footer {
          margin-top: 24px;
          justify-content: center;
        }
      }
    }
  }
}
.yc-service-modal {
  .yc-modal-header {
    .yc-modal-title {
      display: flex;
      justify-content: center;
      gap: 6px;
      .yc-modal-title-icon {
        display: flex;
        align-items: center;
        font-size: 18px;
      }
      .yc-modal-title-content {
        flex-shrink: 0;
        overflow: hidden;
      }
    }
  }
  .yc-modal-body {
    .yc-modal-body-content {
      width: 100%;
      line-height: 26px;
      color: var(--color-text-2);
      font-family: 'PingFang SC';
      font-size: 16px;
      font-weight: 400;
    }
  }
}
// icon-color
@type: {
  info: rgb(var(--primary-6));
  success: rgb(var(--success-6));
  warning: rgb(var(--warning-6));
  error: rgb(var(--danger-6));
  confirm: rgb(var(--warning-6));
};
each(@type, .(@value, @key) {
      .yc-service-modal-@{key}  {
        .yc-modal-title-icon{
          color: @value;
        }
      }
    });

// drawer
.yc-drawer-wrapper {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  .yc-drawer-mask {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--color-mask-bg);
  }
  .yc-drawer-container {
    position: absolute;
    height: 100%;
    background-color: var(--color-bg-3);
    display: flex;
    flex-direction: column;
    .yc-drawer-footer,
    .yc-drawer-body,
    .yc-drawer-header,
    .yc-drawer-title,
    .yc-drawer-close-button {
      flex-shrink: 0;
    }
    .yc-drawer-header {
      height: 48px;
      width: 100%;
      padding: 0 16px;
      border-bottom: 1px solid var(--color-neutral-3);
      display: flex;
      align-items: center;
      .yc-drawer-title {
        flex: 1;
        span {
          font-size: 16px;
          font-weight: 500;
          color: var(--color-text-1);
        }
      }
      .yc-drawer-close-button {
        margin-left: -12px;
      }
    }
    .yc-drawer-body {
      flex: 1;
      line-height: 1.5715;
      padding: 12px 16px;
      color: var(--color-text-1);
      font-size: 14px;
    }
    .yc-drawer-footer {
      height: 64px;
      width: 100%;
      padding: 0 16px;
      border-top: 1px solid var(--color-neutral-3);
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 12px;
    }
  }
}
.yc-drawer-position-absolute {
  position: absolute;
}
// placement
@placements: left, right, bottom, top;
each(@placements, {
  .yc-drawer-placement-@{value} {
    .yc-drawer-container {
      & when (@value = left),(@value = top),(@value = bottom){
        left: 0;
      }
      & when (@value = right){
        right: 0;
      }
      & when(@value = left),(@value = right),(@value = top){
        top: 0;
      }
      & when(@value = bottom){
        bottom: 0;
      }
      & when (@value = left),(@value = right){
         bottom: 0;
      }
      & when (@value = top),(@value = bottom){
        right: 0;
     }
    }
  }
});
// Message
.yc-message-list {
  pointer-events: none;
  z-index: 1001;
  position: fixed;
  width: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
// postion
@position: top, bottom;
each(@position,{
    .yc-message-list-@{value}{
      @{value}:40px;
    }
  });

.fade-message-enter-from,
.fade-message-leave-to {
  opacity: 0;
}
.fade-message-enter-to,
.fade-message-leave-from {
  opacity: 1;
}
.fade-message-enter-active,
.fade-message-appear-active {
  transition: opacity 0.2s cubic-bezier(0, 0, 1, 1);
}
.fade-message-leave-active {
  position: absolute;
}
.flip-list-move {
  transition: transform 0.3s ease;
}
.yc-message {
  pointer-events: auto;
  position: relative;
  overflow: hidden;
  padding: 10px 16px;
  background-color: var(--color-bg-popup);
  border-color: var(--color-neutral-3);
  border-radius: 2px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.1s cubic-bezier(0, 0, 1, 1);
  color: var(--color-text-1);
  line-height: 1;
  text-align: center;
  display: inline-flex;
  align-items: center;
  gap: 8px;

  .yc-message-icon {
    vertical-align: middle;
    font-size: 20px;
    animation:
      arco-msg-fade 0.1s cubic-bezier(0, 0, 1, 1),
      arco-msg-fade 0.4s cubic-bezier(0.3, 1.3, 0.3, 1);
  }
  .yc-message-content {
    vertical-align: middle;
    font-size: 14px;
  }
}
// type
@types: {
  info: rgb(var(--primary-6));
  warning: rgb(var(--warning-6));
  success: rgb(var(--success-6));
  error: rgb(var(--danger-6));
  loading: rgb(var(--primary-6));
};
each(@types,  {
  .yc-message-@{key} {
    .yc-message-icon {
      color: @value;
    }
  }
});
// notification
.yc-notification-list {
  position: fixed;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
// posiiton
@position: topLeft, topRight, bottomLeft, bottomRight;
each(@position,{
  .yc-notification-list-@{value}{
      & when(@value = topLeft),(@value = topRight){
        top: 20px;
      }
      & when(@value = bottomLeft),(@value = bottomRight){
        bottom: 20px;
      }
      & when(@value = topLeft),(@value = bottomLeft){
        left: 20px;
      }
      & when(@value = topRight),(@value = bottomRight){
        right: 20px;
      }
  }
});
.slide-left-notification-enter-from {
  transform: translateX(-100%);
}
.slide-right-notification-enter-from {
  transform: translateX(100%);
}
.slide-left-notification-enter-to,
.slide-right-notification-enter-to {
  transform: translateX(0);
}
.slide-left-notification-leave-from,
.slide-right-notification-leave-from {
  opacity: 1;
}
.slide-left-notification-leave-to,
.slide-right-notification-leave-to {
  height: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  opacity: 0;
}
.slide-left-notification-enter-active,
.slide-right-notification-enter-active {
  transition: transform 0.4s cubic-bezier(0.3, 1.3, 0.3, 1);
}
.slide-left-notification-leave-active,
.slide-right-notification-leave-active {
  transition: all 0.3s cubic-bezier(0.34, 0.69, 0.1, 1);
}
.yc-notification {
  overflow: hidden;
  position: relative;
  width: 340px;
  padding: 20px;
  background-color: var(--color-bg-popup);
  border: 1px solid var(--color-neutral-3);
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  opacity: 1;
  transition: opacity 0.2s cubic-bezier(0, 0, 1, 1);
  display: flex;
  gap: 16px;

  .yc-notification-left {
    .yc-notification-icon {
      font-size: 24px;
      display: flex;
      align-items: center;
    }
  }
  .yc-notification-right {
    color: var(--color-text-1);
    flex: 1;
    display: flex;
    flex-direction: column;

    .yc-notification-title {
      font-weight: 500;
      font-size: 16px;
    }
    .yc-notification-content {
      margin-top: 4px;
      font-size: 14px;
    }
    .yc-notification-footer {
      margin-top: 12px;
      text-align: right;
    }
  }
  .yc-notification-close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    color: var(--color-text-3);
    font-size: 12px;
    &:hover {
      color: var(--color-text-1);
    }
  }
}
// type
@types: {
  info: rgb(var(--primary-6));
  warning: rgb(var(--warning-6));
  success: rgb(var(--success-6));
  error: rgb(var(--danger-6));
  loading: rgb(var(--primary-6));
};
each(@types,  {
  .yc-notification-@{key} {
    .yc-notification-icon {
      color: @value;
    }
  }
});
