.yc-card-grid {
  position: relative;
  width: 33.33%;
  box-shadow:
    1px 0 0 0 var(--color-border-2),
    0 1px 0 0 var(--color-border-2),
    1px 1px 0 0 var(--color-border-2),
    1px 0 0 0 var(--color-border-2) inset,
    0 1px 0 0 var(--color-border-2) inset;

  body[yc-design-theme='dark'] & {
    box-shadow:
      1px 0 0 0 var(--color-border),
      0 1px 0 0 var(--color-border),
      1px 1px 0 0 var(--color-border),
      1px 0 0 0 var(--color-border) inset,
      0 1px 0 0 var(--color-border) inset;
  }

  &::before {
    content: '';
    pointer-events: none;
    position: absolute;
    height: 100%;
    width: 100%;
    transition: box-shadow 0.2s cubic-bezier(0, 0, 1, 1);
  }
  &:deep(.yc-card) {
    background: none;
    box-shadow: none;
  }
}
.yc-card-grid-hoverable {
  &:hover {
    z-index: 1;
  }
  &:hover::before {
    box-shadow: 0 4px 10px var(--color-neutral-2);
  }

  body[yc-design-theme='dark'] &:hover::before {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
}
