.yc-card {
  --yc-card-background: #fff;
  --yc-card-header-border-color: rgb(229, 230, 235);
  --yc-card-header-title-color: rgb(29, 33, 41);
  --yc-card-header-extra-color: rgb(22, 93, 255);
  --yc-card-body-color: rgb(78, 89, 105);
  --yc-card-actions-right-color: rgb(78, 89, 105);
  --yc-card-bordered-border-color: rgb(229, 230, 235);
  --yc-card-hoverable-shadow-color: 0 4px 10px rgb(242, 243, 245);
  html[yc-design-dark] & {
    --yc-card-background: rgb(29, 29, 30);
    --yc-card-header-border-color: rgb(60, 60, 62);
    --yc-card-header-title-color: rgb(229, 230, 235);
    --yc-card-header-extra-color: rgb(46, 126, 255);
    --yc-card-body-color: rgb(193, 194, 195);
    --yc-card-actions-right-color: rgb(193, 194, 195);
    --yc-card-bordered-border-color: rgb(60, 60, 62);
    --yc-card-hoverable-shadow-color: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
}

.yc-card {
  position: relative;
  background: var(--yc-card-background);
  transition:
    box-shadow 0.2s cubic-bezier(0, 0, 1, 1),
    -webkit-box-shadow 0.2s cubic-bezier(0, 0, 1, 1);
  font-size: 14px;
  display: flex;
  flex-direction: column;

  .yc-card-header {
    overflow: hidden;
    border-bottom: 1px solid var(--yc-card-header-border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .yc-card-header-title {
      flex: 1;
      font-size: 16px;
      color: var(--yc-card-header-title-color);
      font-weight: 500;
      line-height: 1.5715;
    }

    .yc-card-header-extra {
      color: var(--yc-card-header-extra-color);
    }
  }

  .yc-card-body {
    color: var(--yc-card-body-color);

    .yc-card-cover {
      overflow: hidden;
    }

    .yc-card-actions {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .yc-card-actions-right {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--yc-card-actions-right-color);
        transition: color 0.2s cubic-bezier(0, 0, 1, 1);
      }
    }
  }
}
// bordered
.yc-card-bordered {
  border: 1px solid var(--yc-card-bordered-border-color);
  border-radius: 2px;
  .yc-card-body {
    .yc-card-cover {
      border-radius: 2px 2px 0 0;
    }
  }
}
// hoverable
.yc-card-hoverable {
  &:hover {
    box-shadow: var(--yc-card-hoverable-shadow-color);
  }
}
// loading
.yc-card-loading {
  .yc-card-body {
    .yc-spin {
      width: 100%;
    }
  }
}
// has-grid
.yc-card.yc-card-contain-grid {
  & > .yc-card-body {
    margin: 0 -1px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
}
// size
@size: {
  @mini: {
    header-height: 40px;
    header-padding: 10px;
    body-padding: 16px;
  };
  @small: {
    header-height: 40px;
    header-padding: 8px;
    body-padding: 12px;
  };
  @medium: {
    header-height: 46px;
    header-padding: 10px;
    body-padding: 16px;
  };
  @large: {
    header-height: 40px;
    header-padding: 10px;
    body-padding: 16px;
  };
};

each(@size, .(@value, @name) {
  @key: replace(~"@{name}", "@", "");
  .yc-card-size-@{key} {
    .yc-card-header {
      height: @value[header-height];
      padding: @value[header-padding] 16px;
    }
    .yc-card-body {
      padding: @value[body-padding] 16px;
    }
  }
});
