// card
html[yc-design-dark] {
  .yc-card {
    background: rgb(29, 29, 30);

    .yc-card-header {
      border-bottom: 1px solid rgb(60, 60, 62);

      .yc-card-header-title {
        color: rgb(229, 230, 235);
      }
      .yc-card-header-extra {
        color: rgb(46, 126, 255);
      }
    }

    .yc-card-body {
      color: rgb(193, 194, 195);

      .yc-card-actions {
        .yc-card-actions-right {
          color: rgb(193, 194, 195);
        }
      }
    }
  }
  .yc-card-bordered {
    border: 1px solid rgb(60, 60, 62);
  }
  .yc-card-hoverable {
    &:hover {
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }
  }
}

//   card-meta
html[yc-design-dark] {
  .yc-card-meta {
    .yc-card-meta-content {
      .yc-card-meta-title {
        color: rgb(229, 230, 235);
      }
      .yc-card-meta-description {
        color: rgb(193, 194, 195);
      }
    }
    .yc-card-meta-footer {
      .yc-card-actions {
        .yc-card-actions-right {
          color: rgb(193, 194, 195);
        }
      }
    }
  }
}

//   card-grid
html[yc-design-dark] {
  .yc-card-grid {
    box-shadow:
      1px 0 0 0 rgb(60, 60, 62),
      0 1px 0 0 rgb(60, 60, 62),
      1px 1px 0 0 rgb(60, 60, 62),
      1px 0 0 0 rgb(60, 60, 62) inset,
      0 1px 0 0 rgb(60, 60, 62) inset;
  }
  .yc-card-grid-hoverable {
    &:hover::before {
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }
  }
}
