html[yc-design-dark] {
  .yc-picker {
    background-color: #262626;
    color: #bfbfbf;
    &:not(.yc-picker-disabled):hover {
      background-color: #303030;
    }
    .yc-picker-prefix {
      color: #bfbfbf;
    }
    .yc-picker-input {
      input {
        background-color: transparent;
        &::placeholder {
          color: #666666;
        }
      }
      &.yc-picker-input-active {
        input {
          background-color: #262626;
        }
      }
    }
    .yc-picker-separator {
      color: #666666;
    }
  }
  .yc-picker-focus {
    background-color: #1a1a1a;
    border-color: #306fff;
    box-shadow: 0 0 0 0 rgba(48, 111, 255, 0.2);
    &:not(.yc-picker-disabled):hover {
      background-color: #1a1a1a;
      border-color: #306fff;
    }
  }
  .yc-picker-error {
    background-color: #261d1d;
    &:not(.yc-picker-disabled):hover {
      background-color: #332121;
    }
    &.yc-picker-focus {
      background-color: #1a1a1a;
      border-color: #ff4d4f;
      box-shadow: 0 0 0 0 rgba(245, 63, 63, 0.2);
      &:not(.yc-picker-disabled):hover {
        background-color: #1a1a1a;
      }
    }
  }
  .yc-picker-disabled {
    background-color: #262626;
    color: #424242;
    .yc-picker-input {
      input {
        &::placeholder {
          color: #424242;
        }
      }
    }
  }
  .yc-timepicker-container {
    background-color: #1a1a1a;
    border: 1px solid #303030;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    .yc-timepicker-column {
      &:not(:last-child) {
        border-right: 1px solid #303030;
      }
      ul {
        .yc-timepicker-cell {
          color: #bfbfbf;
          .yc-timepicker-cell-inner {
            font-size: 14px;
          }
        }
        .yc-timepicker-cell-selected {
          .yc-timepicker-cell-inner {
            background-color: #262626;
          }
        }
        .yc-timepicker-cell-disabled {
          color: #424242;
        }
      }
    }
  }
  .yc-timepicker-footer-extra-wrapper {
    border-top: 1px solid #303030;
    color: #bfbfbf;
  }
  .yc-timepicker-footer-btn-wrapper {
    border-top: 1px solid #303030;
  }
}
