html[yc-design-dark] {
  .yc-statistic {
    color: rgba(255, 255, 255, 0.45);
    .yc-statistic-title,
    .yc-statistic-extra {
      color: rgba(255, 255, 255, 0.45);
    }
    .yc-statistic-content {
      .yc-statistic-value {
        color: rgba(255, 255, 255, 0.85);
      }
    }
  }
}
