html[yc-design-dark] {
  .yc-statistic {
    color: #a1a8b8;
    .yc-statistic-title,
    .yc-statistic-extra {
      color: #a1a8b8;
    }
    .yc-statistic-content {
      .yc-statistic-value {
        color: #e5e6eb;
      }
    }
  }
}
