// list
html[yc-design-dark] {
  .yc-list-wrapper {
    .yc-list-spin {
      .yc-list-content-wrapper {
        color: #e5e6eb;
        .yc-list-header {
          color: #e5e6eb;
        }
      }
    }
  }

  .yc-list-bordered {
    .yc-scrollbar {
      &:deep(.yc-scrollbar-container) {
        border-color: #484d57;
      }
    }
  }

  .yc-list-split {
    .yc-list-header {
      border-bottom-color: #484d57;
    }
    &:deep(.yc-list-content) {
      .yc-list-item {
        &:not(:last-child) {
          border-bottom-color: #484d57;
        }
      }
    }
    .yc-list-scroll-loading {
      border-top-color: #484d57;
      background-color: #1d2129;
    }
    .yc-list-footer {
      border-top-color: #484d57;
    }
  }

  .yc-list-hoverable {
    &:deep(.yc-list-item) {
      &:hover {
        background-color: #2a2f3a;
      }
    }
  }
}

// list-item-metat
html[yc-design-dark] {
  .yc-list-item-meta {
    .yc-list-item-meta-content {
      .yc-list-item-meta-title {
        color: #e5e6eb;
      }
      .yc-list-item-meta-description {
        color: #a1a8b8;
      }
    }
  }
}
