html[yc-design-dark] {
  // image
  @dark-colors: {
    error-color: #5a5a5b;
    error-bg: #2a2a2b;
    loader-bg: rgba(255, 255, 255, 0.1);
    footer-inner-bg: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    footer-outer-color: #a9aeb8;
    footer-title-color: #ffffff;
  };
  .yc-image {
    .yc-image-overlay {
      .yc-image-error {
        color: @dark-colors[error-color];
        background-color: @dark-colors[error-bg];
      }
      .yc-image-loader {
        background-color: @dark-colors[loader-bg];
      }
    }

    .yc-image-footer-inner {
      background: @dark-colors[footer-inner-bg];
    }

    .yc-image-footer-outer {
      color: @dark-colors[footer-outer-color];
      .yc-image-footer-caption {
        .yc-image-footer-caption-title {
          color: @dark-colors[footer-title-color];
        }
      }
    }
  }
  // image-preview
  @preivew-dark-colors: {
    mask-bg: rgba(255, 255, 255, 0.12);
    toolbar-bg: #2a2a2b;
    toolbar-color: #a9aeb8;
    toolbar-hover: #165dff;
    toolbar-hover-bg: #3c3c3d;
    toolbar-disabled: #5a5a5b;
    close-btn-bg: rgba(255, 255, 255, 0.2);
    arrow-bg: rgba(255, 255, 255, 0.2);
    arrow-hover-bg: rgba(255, 255, 255, 0.3);
  };
  .yc-image-preview {
    .yc-image-preview-mask {
      background-color: @preivew-dark-colors[mask-bg];
    }

    .yc-image-preview-wrapper {
      .yc-image-preview-toolbar {
        background-color: @preivew-dark-colors[toolbar-bg];

        .yc-image-preview-toolbar-action {
          color: @preivew-dark-colors[toolbar-color];

          &:not(.yc-image-preview-toolbar-action-disabled):hover {
            color: @preivew-dark-colors[toolbar-hover];
            background-color: @preivew-dark-colors[toolbar-hover-bg];
          }
        }

        .yc-image-preview-toolbar-action-disabled {
          color: @preivew-dark-colors[toolbar-disabled];
        }
      }

      .yc-image-preview-close-btn {
        background: @preivew-dark-colors[close-btn-bg];
      }

      .yc-image-preview-arrow-right,
      .yc-image-preview-arrow-left {
        background-color: @preivew-dark-colors[arrow-bg];

        &:hover {
          background-color: @preivew-dark-colors[arrow-hover-bg];
        }
      }
    }
  }
}
