// image
html[yc-design-dark] {
  .yc-image {
    .yc-image-overlay {
      .yc-image-error {
        color: #5f6777;
        background-color: #1d2129;
      }
    }

    .yc-image-footer-outer {
      color: #a1a8b8;
      .yc-image-footer-caption {
        .yc-image-footer-caption-title {
          color: #e5e6eb;
        }
      }
    }
  }
}

// image-preview
html[yc-design-dark] {
  .yc-image-preview {
    .yc-image-preview-mask {
      background-color: rgba(0, 0, 0, 0.6);
    }

    .yc-image-preview-toolbar {
      background-color: #2a2f3a;
      .yc-image-preview-toolbar-action {
        color: #a1a8b8;
        &:not(.yc-image-preview-toolbar-action-disabled):hover {
          color: #5c8dff;
          background-color: #303642;
        }
      }
      .yc-image-preview-toolbar-action-disabled {
        color: #484d57;
      }
    }

    .yc-image-preview-close-btn {
      background: rgba(255, 255, 255, 0.1);
    }

    .yc-image-preview-arrow-right,
    .yc-image-preview-arrow-left {
      color: #e5e6eb;
      background-color: rgba(255, 255, 255, 0.1);
      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }
}
