html[yc-design-dark] {
  .yc-calendar {
    border: 1px solid rgb(60, 60, 62);

    .yc-calendar-header {
      .yc-calendar-header-left {
        .yc-calendar-header-value {
          color: rgb(229, 230, 235);
        }
      }
    }
  }

  .yc-calendar-month {
    .yc-calendar-week-list {
      border-bottom: 1px solid rgb(60, 60, 62);
      .yc-calendar-week-list-item {
        color: rgb(134, 137, 140);
      }
    }

    .yc-calendar-month-cell-body {
      .yc-calendar-month-row {
        &:not(:last-child) {
          border-bottom: 1px solid rgb(60, 60, 62);
        }

        .yc-calendar-cell {
          &:not(:last-child) {
            border-right: 1px solid rgb(60, 60, 62);
          }

          .yc-calendar-date-value {
            color: rgb(81, 84, 86);
          }
        }

        .yc-calendar-cell-in-view {
          .yc-calendar-date-value {
            color: rgb(229, 230, 235);
          }
        }

        .yc-calendar-cell-today {
          .yc-calendar-date-circle {
            border: 1px solid rgb(46, 126, 255);
          }
        }

        .yc-calendar-cell-selected {
          .yc-calendar-date-circle {
            border: 1px solid rgb(46, 126, 255);
            background-color: rgb(46, 126, 255);
          }
        }
      }
    }
  }

  .yc-calendar-mode-year {
    .yc-calendar-year-row {
      &:not(:last-child) {
        border-bottom: 1px solid rgb(60, 60, 62);
      }
      .yc-calendar-year-cell {
        &:not(:last-child) {
          border-right: 1px solid rgb(60, 60, 62);
        }
        .yc-calendar-year-cell-title {
          color: rgb(229, 230, 235);
        }
      }
    }
  }
}
