:root {
  --yc-badge-color-danger: rgb(245, 63, 63);
  --yc-badge-color-white: #fff;
  --yc-badge-background-color: var(--yc-badge-color-danger);
  --yc-badge-box-shadow-color: var(--yc-badge-color-white);
  --yc-badge-text-color: var(--yc-badge-color-white);
  --yc-badge-status-text-color: rgb(29, 33, 41);
  --yc-badge-status-color-normal: rgb(201, 205, 212);
  --yc-badge-status-color-success: rgb(0, 180, 42);
  --yc-badge-status-color-danger: var(--yc-badge-color-danger);
  --yc-badge-status-color-processing: rgb(22, 93, 255);
  --yc-badge-status-color-warning: rgb(255, 125, 0);
}
html[yc-design-dark] {
  --yc-badge-box-shadow-color: rgb(29, 29, 30);
  --yc-badge-status-text-color: rgb(229, 230, 235);
  --yc-badge-status-color-normal: rgb(81, 84, 86);
  --yc-badge-status-color-success: rgb(19, 173, 58);
  --yc-badge-status-color-processing: rgb(46, 126, 255);
  --yc-badge-status-color-warning: rgb(250, 140, 42);
}

.yc-badge {
  position: relative;
  display: inline-block;
  line-height: 1;
  .yc-badge-dot,
  .yc-badge-text,
  .yc-badge-number,
  .yc-badge-custom-dot {
    z-index: 2;
    position: absolute;
    top: 2px;
    right: 2px;
    transform: translate(50%, -50%);
    transform-origin: 100% 0%;
    overflow: hidden;
    background-color: var(--yc-badge-background-color);
    border-radius: 20px;
    box-shadow: 0 0 0 2px var(--yc-badge-box-shadow-color);
    text-align: center;
    &.yc-badge-dot {
      width: 6px;
      height: 6px;
      border-radius: 50%;
    }
    &.yc-badge-custom-dot {
      background-color: var(--yc-badge-box-shadow-color);
      box-shadow: none;
    }
    &.yc-badge-text,
    &.yc-badge-number {
      min-width: 20px;
      height: 20px;
      padding: 0 6px;
      color: var(--yc-badge-text-color);
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
    }
  }

  .yc-badge-stauts-wrapper {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    .yc-badge-stauts-dot {
      width: 6px;
      height: 6px;
      border-radius: 50%;
    }
    .yc-badge-status-text {
      color: var(--yc-badge-status-text-color);
      font-size: 12px;
      line-height: 1.5715;
    }
  }
}
// no-children
.yc-badge-no-children {
  .yc-badge-dot,
  .yc-badge-text,
  .yc-badge-number,
  .yc-badge-custom-dot {
    position: relative;
    transform: none;
    left: unset;
    right: unset;
  }
}

// status
@status: {
  normal: var(--yc-badge-status-color-normal);
  success: var(--yc-badge-status-color-success);
  danger: var(--yc-badge-status-color-danger);
  processing: var(--yc-badge-status-color-processing);
  warning: var(--yc-badge-status-color-warning);
};
// status
each(@status,{
  .yc-badge-status-@{key}{
    background-color: @value;
  }
})

// color
@color: {
  red: rgb(245, 63, 63);
  orangered: rgb(247, 114, 52);
  orange: rgb(255, 125, 0);
  gold: rgb(247, 186, 30);
  lime: rgb(159, 219, 29);
  green: rgb(0, 180, 134);
  cyan: rgb(20, 201, 201);
  blue: rgb(52, 145, 250);
  arcoblue: rgb(22, 93, 255);
  purple: rgb(144, 46, 209);
  pinkpurple: rgb(217, 26, 217);
  magenta: rgb(245, 49, 157);
  gray: rgb(134, 144, 156);
}
each(@color, {
  .yc-badge-color-@{key} {
    background-color: @value;
  }
});
