html[yc-design-dark] {
  .yc-link-hoverable {
    &:hover {
      background-color: rgb(48, 48, 49);
    }
    &:active {
      background-color: rgb(60, 60, 62);
    }
  }

  .yc-link-loading {
    &::before {
      background-color: rgb(29, 29, 30);
    }
  }

  @dark-link-status: {
    normal: rgb(46, 126, 255);
    warning: rgb(250, 140, 42);
    success: rgb(19, 173, 58);
    danger: rgb(245, 63, 63);
  };

  each(@dark-link-status, {
      .yc-link-status-@{key} {
        color: @value;
      }
    });
}
