.yc-link {
  cursor: pointer;
  padding: 1px 4px;
  line-height: 1.5715;
  background-color: transparent;
  border: none;
  border-radius: var(--border-radius-small);
  font-size: 14px;
  font-weight: 400;
  transition: all 0.1s cubic-bezier(0, 0, 1, 1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 6px;

  .yc-link-icon {
    flex-shrink: 0;
    color: inherit;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    .yc-spin {
      font-size: inherit;
      color: inherit;
    }
  }
}

// hoverable
.yc-link-hoverable {
  &:hover {
    background-color: var(--color-fill-2);
  }
  &:active {
    background-color: var(--color-fill-3);
  }
}

// disabled
.yc-link-disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

// loading
.yc-link-loading {
  cursor: default;
  position: relative;

  &::before {
    content: '';
    display: block;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--yc-link-loading-overlay-bg);
    opacity: 0.4;
  }
}

@status: {
  normal: rgb(var(--primary-6));
  warning: rgb(var(--warning-6));
  success: rgb(var(--success-6));
  danger: rgb(var(--danger-6));
};
each(@status, {
  .yc-link-status-@{key} {
    color: @value;
  }
});
