.yc-avatar-group {
  height: fit-content;
  width: fit-content;
  display: inline-flex;
  align-items: center;

  .yc-avatar {
    flex-shrink: 0;
    border: 2px solid var(--color-bg-2);
  }
}
