html[yc-design-dark] {
  .yc-input-outer {
    .yc-input-prepend,
    .yc-input-append {
      color: rgba(255, 255, 255, 0.9);
      background-color: #262626;
      &.yc-input-prepend {
        border-right: 1px solid #424242;
      }
      &.yc-input-append {
        border-left: 1px solid #424242;
      }
    }
  }

  .yc-input-error {
    .yc-input-wrapper {
      background-color: #262626;
      &:not(.yc-input-wrapper-disabled) {
        &:hover {
          background-color: #262626;
        }
        &:focus-within {
          background: #262626;
          border-color: #ff4d4f;
        }
      }
    }
  }

  .yc-input-disabled {
    .yc-input-wrapper {
      background-color: #262626;
      color: rgba(255, 255, 255, 0.3);
      .yc-input {
        &::placeholder {
          color: rgba(255, 255, 255, 0.3);
        }
      }
    }
  }

  .yc-input-wrapper {
    background-color: #262626;
    color: rgba(255, 255, 255, 0.9);
    &:not(.yc-input-wrapper-disabled) {
      &:hover {
        background-color: #303030;
      }
      &:focus-within {
        background-color: #262626;
        border-color: #306fff;
      }
    }
    .yc-input-prefix,
    .yc-input-suffix {
      color: rgba(255, 255, 255, 0.7);
      .yc-input-word-limit {
        color: rgba(255, 255, 255, 0.5);
      }
    }
    .yc-input {
      &::placeholder {
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }
}
