.yc-input-outer {
  --yc-input-prepend-append-color: rgb(29, 33, 41);
  --yc-input-prepend-append-bg: rgb(242, 243, 245);
  --yc-input-prepend-border: rgb(229, 230, 235);
  --yc-input-append-border: rgb(229, 230, 235);
  --yc-input-error-bg: rgb(255, 236, 232);
  --yc-input-error-hover-bg: rgb(253, 205, 197);
  --yc-input-error-focus-border: rgb(245, 63, 63);
  --yc-input-disabled-bg: rgb(242, 243, 245);
  --yc-input-disabled-color: rgb(201, 205, 212);
  --yc-input-wrapper-bg: rgb(242, 243, 245);
  --yc-input-wrapper-color: rgb(29, 33, 41);
  --yc-input-wrapper-hover-bg: rgb(229, 230, 235);
  --yc-input-wrapper-focus-bg: #fff;
  --yc-input-wrapper-focus-border: rgb(22, 93, 255);
  --yc-input-prefix-suffix-color: rgb(78, 89, 105);
  --yc-input-word-limit-color: rgb(134, 144, 156);
  --yc-input-placeholder-color: rgb(134, 144, 156);
  html[yc-design-dark] & {
    --yc-input-prepend-append-color: rgb(224, 224, 224);
    --yc-input-prepend-append-bg: rgb(44, 44, 44);
    --yc-input-prepend-border: rgb(64, 64, 64);
    --yc-input-append-border: rgb(64, 64, 64);
    --yc-input-error-bg: rgb(60, 46, 42);
    --yc-input-error-hover-bg: rgb(82, 55, 48);
    --yc-input-error-focus-border: rgb(208, 48, 48);
    --yc-input-disabled-bg: rgb(44, 44, 44);
    --yc-input-disabled-color: rgb(134, 144, 156);
    --yc-input-wrapper-bg: rgb(44, 44, 44);
    --yc-input-wrapper-color: rgb(224, 224, 224);
    --yc-input-wrapper-hover-bg: rgb(64, 64, 64);
    --yc-input-wrapper-focus-bg: rgb(30, 30, 30);
    --yc-input-wrapper-focus-border: rgb(30, 98, 219);
    --yc-input-prefix-suffix-color: rgb(166, 166, 166);
    --yc-input-word-limit-color: rgb(134, 144, 156);
    --yc-input-placeholder-color: rgb(134, 144, 156);
  }
}

// yc-input-outer
.yc-input-outer {
  width: 100%;
  display: inline-flex;
  align-items: center;

  .yc-input-prepend,
  .yc-input-append,
  .yc-input-wrapper {
    flex-shrink: 0;
    font-size: inherit;
  }
  .yc-input-prepend,
  .yc-input-append {
    overflow: hidden;
    height: 100%;
    padding: 0 12px;
    color: var(--yc-input-prepend-append-color);
    font-weight: 400;
    white-space: nowrap;
    background-color: var(--yc-input-prepend-append-bg);
    display: flex;
    align-items: center;

    &.yc-input-prepend {
      border-right: 1px solid var(--yc-input-prepend-border);
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }
    &.yc-input-append {
      border-left: 1px solid var(--yc-input-append-border);
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }
}
.yc-input-has-prepend {
  .yc-input-wrapper {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
.yc-input-has-append {
  .yc-input-wrapper {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
// error
.yc-input-error {
  .yc-input-wrapper {
    background-color: var(--yc-input-error-bg);
    &:not(.yc-input-wrapper-disabled) {
      &:hover {
        border-color: transparent;
        background-color: var(--yc-input-error-hover-bg);
      }
      &:focus-within {
        background: var(--yc-input-wrapper-focus-bg);
        border-color: var(--yc-input-error-focus-border);
        box-shadow: 0 0 0 0 rgb(253, 205, 197);
      }
    }
  }
}
// disabled
.yc-input-disabled {
  cursor: not-allowed;
  .yc-input-wrapper {
    cursor: not-allowed;
    border-color: transparent;
    background-color: var(--yc-input-disabled-bg);
    color: var(--yc-input-disabled-color);
    .yc-input-prefix,
    .yc-input-suffix {
      color: inherit;
    }
    .yc-input {
      &::placeholder {
        color: var(--yc-input-disabled-color);
      }
    }
  }
}
// yc-input-wrapper
.yc-input-wrapper {
  flex: 1;
  height: 100%;
  width: 100%;
  cursor: text;
  padding: 0 12px;
  background-color: var(--yc-input-wrapper-bg);
  border: 1px solid transparent;
  border-radius: 2px;
  transition:
    color 0.1s cubic-bezier(0, 0, 1, 1),
    border-color 0.1s cubic-bezier(0, 0, 1, 1),
    background-color 0.1s cubic-bezier(0, 0, 1, 1);
  color: var(--yc-input-wrapper-color);
  font-size: inherit;
  font-weight: 400;
  display: flex;
  align-items: center;
  &:not(.yc-input-wrapper-disabled) {
    &:hover {
      border-color: transparent;
      background-color: var(--yc-input-wrapper-hover-bg);
    }
    &:hover .yc-input-clear-button {
      visibility: visible;
    }
    &:focus-within {
      background-color: var(--yc-input-wrapper-focus-bg);
      border-color: var(--yc-input-wrapper-focus-border);
      box-shadow: 0 0 0 0 rgb(190, 218, 255);
    }
  }
  .yc-input-prefix,
  .yc-input-suffix,
  .yc-input {
    flex-shrink: 0;
    color: inherit;
  }
  .yc-input-prefix,
  .yc-input-suffix {
    height: 100%;
    color: var(--yc-input-prefix-suffix-color);
    display: flex;
    justify-content: center;
    align-items: center;
    .yc-input-word-limit {
      color: var(--yc-input-word-limit-color);
      font-size: 12px;
    }
    .yc-icon-button {
      color: inherit;
    }
    &.yc-input-prefix {
      padding-right: 12px;
    }
    &.yc-input-suffix {
      padding-left: 12px;
    }
  }
  .yc-input-clear-button {
    visibility: hidden;
  }
  .yc-input {
    flex: 1;
    cursor: inherit;
    outline: none;
    border: none;
    border-radius: 0;
    background-color: transparent;
    color: inherit;
    &::placeholder {
      color: var(--yc-input-placeholder-color);
    }
  }
}

//size
@sizes: {
  @mini: {
    font-size: 12px;
    height: 24px;
    padding: 1px;
    line-height: 1.667;
  };
  @small: {
    font-size: 14px;
    height: 28px;
    padding: 2px;
    line-height: 1.5715;
  };
  @medium: {
    font-size: 14px;
    height: 32px;
    padding: 4px;
    line-height: 1.5715;
  };
  @large: {
    font-size: 14px;
    height: 36px;
    padding: 6px;
    line-height: 1.5715;
  };
};
each(@sizes, .(@value, @name) {
  @key: replace(~"@{name}", "@", "");
  .yc-input-size-@{key} {
    font-size: @value[font-size];
    height: @value[height];
    .yc-input-wrapper{
      .yc-input {
        padding: @value[padding] 0;
        line-height: @value[line-height];
      }
    }
  }
});
