.yc-panel-year,
.yc-panel-month,
.yc-panel-week {
  width: 265px;
  display: flex;
  flex-direction: column;
  .yc-picker-header {
    padding: 8px 16px;
    border-bottom: 1px solid var(--color-neutral-3);
    display: flex;
    .yc-picker-header-icon {
      cursor: pointer;
      width: 24px;
      height: 24px;
      margin-right: 2px;
      margin-left: 2px;
      color: var(--color-text-2);
      font-size: 12px;
      line-height: 24px;
      text-align: center;
      background-color: var(--color-bg-popup);
      border-radius: 50%;
      transition: all 0.1s cubic-bezier(0, 0, 1, 1);
      user-select: none;
      &:hover {
        background-color: var(--color-fill-3);
      }
    }
    .yc-picker-header-title {
      flex: 1;
      color: var(--color-text-1);
      font-size: 14px;
      line-height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      .yc-picker-header-label {
        cursor: pointer;
        padding: 2px;
        border-radius: 2px;
        transition: all 0.1s;
        &:hover {
          background-color: var(--color-fill-3);
        }
      }
    }
  }
  .yc-picker-body {
    padding: 14px 16px;
    .yc-picker-row {
      padding: 2px 0;
      display: flex;
      &.yc-picker-week-row {
        &:hover .yc-picker-cell:not(:first-child) {
          .yc-picker-date {
            .yc-picker-date-value {
              background-color: var(--color-fill-3);
            }
          }
        }
        .yc-picker-cell {
          .yc-picker-date {
            padding-left: 0;
            padding-right: 0;
            .yc-picker-date-value {
              border-radius: 0;
            }
          }
        }
        .yc-week-picker-cell-first {
          .yc-picker-date {
            .yc-picker-date-value {
              border-top-left-radius: 24px;
              border-bottom-left-radius: 24px;
            }
          }
        }
        .yc-week-picker-cell-last {
          .yc-picker-date {
            .yc-picker-date-value {
              border-top-right-radius: 24px;
              border-bottom-right-radius: 24px;
            }
          }
        }
      }
    }
  }
}
.yc-panel-week {
  width: 298px;
  .yc-picker-week-list {
    width: 100%;
    padding: 14px 16px 0 16px;
    display: flex;
    .yc-picker-week-list-item {
      flex: 1;
      height: 32px;
      padding: 0;
      color: #7d7d7f;
      font-weight: 400;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .yc-picker-body {
    .yc-picker-week-row {
      .yc-picker-cell {
        .yc-picker-date {
          padding-left: 0;
          padding-right: 0;
          .yc-picker-date-value {
            border-radius: 0;
          }
        }
      }
      .yc-week-picker-cell-first {
        .yc-picker-date {
          .yc-picker-date-value {
            border-top-left-radius: 24px;
            border-bottom-left-radius: 24px;
          }
        }
      }
      .yc-week-picker-cell-last {
        .yc-picker-date {
          .yc-picker-date-value {
            border-top-right-radius: 24px;
            border-bottom-right-radius: 24px;
          }
        }
      }
    }
    .yc-picker-week-row-hoverable {
      &:hover .yc-picker-cell {
        &:not(:first-child) {
          .yc-picker-date {
            .yc-picker-date-value {
              background-color: var(--color-fill-3);
            }
          }
        }
      }
    }
    .yc-picker-week-row-selected {
      .yc-picker-cell {
        &:not(:first-child) {
          .yc-picker-date {
            .yc-picker-date-value {
              color: var(--color-white) !important;
              background-color: rgb(var(--primary-6)) !important;
              transition: background-color 0.1s cubic-bezier(0, 0, 1, 1);
            }
          }
        }
      }
    }
  }
}
