.yc-picker-container {
  overflow: hidden;
  min-height: 60px;
  background-color: var(--color-bg-popup);
  border: 1px solid var(--color-neutral-3);
  border-radius: var(--border-radius-medium);
  box-shadow: 0 2px 5px #0000001a;
  display: flex;
  .yc-picker-panel-wrapper {
    .yc-panel-year {
      width: 265px;
      .yc-panel-year-inner {
        .yc-picker-header {
          padding: 8px 16px;
          border-bottom: 1px solid var(--color-neutral-3);
          display: flex;

          .yc-picker-header-icon {
            cursor: pointer;
            width: 24px;
            height: 24px;
            margin-right: 2px;
            margin-left: 2px;
            color: var(--color-text-2);
            font-size: 12px;
            line-height: 24px;
            text-align: center;
            background-color: var(--color-bg-popup);
            border-radius: 50%;
            transition: all 0.1s cubic-bezier(0, 0, 1, 1);
            user-select: none;
            &:hover {
              background-color: var(--color-fill-3);
            }
          }

          .yc-picker-header-title {
            flex: 1;
            color: var(--color-text-1);
            font-size: 14px;
            line-height: 24px;
            text-align: center;
          }
        }
        .yc-picker-body {
          padding: 14px 16px;
          .yc-picker-row {
            padding: 2px 0;
            display: flex;
          }
        }
      }
    }
    .yc-picker-footer {
      width: min-content;
      min-width: 100%;
      .yc-picker-footer-extra-wrapper {
        padding: 8px 24px;
        border-top: 1px solid var(--color-neutral-3);
        color: var(--color-text-1);
        font-size: 12px;
      }
      .yc-picker-footer-btn-wrapper {
        padding: 8px;
        border-top: 1px solid var(--color-neutral-3);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
      }
    }
  }
}
// shortcuts
.yc-picker-container-shortcuts-right {
  flex-direction: row-reverse;
}
.yc-year-picker-allow-clear {
  &:not(.yc-input-disabled):hover {
    .yc-icon-button {
      display: flex;
    }
    .yc-picker-suffix-icon {
      display: none;
    }
  }
  .yc-icon-button {
    font-size: 16px;
    display: none;
  }
  .yc-picker-suffix-icon {
    font-size: 16px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
