.yc-dropdown-group-title {
  --yc-dropdown-group-title-color: rgb(134, 144, 156);
  html[yc-design-dark] &,
  &.yc-dropdown-group-title-theme-dark {
    --yc-dropdown-group-title-color: #768390;
  }
}

.yc-dropdown-group-title {
  margin-top: 8px;
  padding: 0 12px;
  color: var(--yc-dropdown-group-title-color);
  font-size: 12px;
  line-height: 20px;
}
