.yc-dropdown-option {
  --yc-doption-color: rgb(29, 33, 41);
  --yc-doption-hover-bg: rgb(242, 243, 245);
  --yc-doption-active-color: rgb(22, 93, 255);
  --yc-doption-disabled-color: rgb(201, 205, 212);
  html[yc-design-dark] &,
  &.yc-dropdown-option-theme-dark {
    --yc-doption-color: rgb(201, 205, 212);
    --yc-doption-hover-bg: rgba(255, 255, 255, 0.04);
    --yc-doption-active-color: #fff;
    --yc-doption-disabled-color: rgb(78, 89, 105);
  }
}

.yc-dropdown-option {
  position: relative;
  z-index: 1;
  padding: 0 12px;
  color: var(--yc-doption-color);
  line-height: 36px;
  font-size: 14px;
  text-align: left;
  display: flex;
  align-items: center;
  transition: all 0.1s cubic-bezier(0, 0, 1, 1);
  &:not(.yc-dropdown-option-disabled):hover {
    background-color: var(--yc-doption-hover-bg);
  }
  .yc-dropdown-option-icon,
  .yc-dropdown-option-content,
  .yc-dropdown-option-suffix {
    flex-shrink: 0;
    display: flex;
    align-items: center;
  }
  .yc-dropdown-option-icon {
    margin-right: 8px;
    color: inherit;
  }
  .yc-dropdown-option-suffix {
    color: inherit;
    margin-left: 12px;
  }
  .yc-dropdown-option-content {
    flex: 1;
    overflow: hidden;
  }
  &.yc-dropdown-option-active {
    color: var(--yc-doption-active-color);
    background-color: var(--yc-doption-hover-bg);
  }
  &.yc-dropdown-option-disabled {
    color: var(--yc-doption-disabled-color);
    background: transparent;
    cursor: not-allowed;
  }
}
