.yc-dropdown-popup {
  .yc-dropdown {
    padding: 4px 0;
    border-radius: 4px;
    box-shadow: 0 4px 10px #0000001a;
    background-color: var(--color-bg-2);
    border: 1px solid var(--color-border);
    .yc-dropdown-list {
      display: flex;
      flex-direction: column;
    }
    .yc-dropdown-footer {
      border-top: 1px solid var(--color-border-2);
    }
  }
  .yc-trigger-arrow {
    background-color: var(--color-bg-2);
    border: 1px solid var(--color-border);
  }
}
