.yc-dropdown-popup {
  .yc-dropdown {
    padding: 4px 0;
    background-color: var(--color-bg-popup);
    border: 1px solid var(--color-fill-3);
    border-radius: var(--border-radius-medium);
    box-shadow: 0 4px 10px #0000001a;
    .yc-dropdown-list {
      display: flex;
      flex-direction: column;
    }
    .yc-dropdown-footer {
      border-top: 1px solid var(--color-fill-3);
    }
  }
  .yc-trigger-arrow {
    z-index: 0;
    background-color: var(--color-bg-popup);
    border: 1px solid var(--color-neutral-3);
  }
}
