html[yc-design-dark] {
  .yc-select {
    &:deep(.yc-input-outer) {
      .yc-input-wrapper {
        .yc-input {
          &::placeholder {
            color: rgb(221, 221, 221);
          }
        }
      }
    }
    .yc-input-placeholder {
      color: rgb(153, 153, 153);
    }
  }
  .yc-select-no-border {
    .yc-input-tag {
      background-color: rgb(30, 30, 30);
    }
    &:deep(.yc-input-outer) {
      .yc-input-wrapper {
        background-color: rgb(30, 30, 30);
      }
    }
  }
  .yc-select-allow-search {
    &:deep(.yc-input-outer) {
      .yc-input-wrapper {
        .yc-input {
          &::placeholder {
            color: rgb(153, 153, 153);
          }
        }
      }
    }
  }
  .yc-select-dropdown {
    background-color: rgb(30, 30, 30);
    border: 1px solid rgb(70, 70, 70);
    box-shadow: 0 4px 10px #0000004d;
    .yc-select-dropdown-header {
      border-bottom: 1px solid rgb(70, 70, 70);
    }
    .yc-select-dropdown-footer {
      border-top: 1px solid rgb(70, 70, 70);
    }
  }
}

html[yc-design-dark] {
  .yc-select-option {
    color: rgb(221, 221, 221);
    &:not(.yc-select-option-disabled):hover {
      color: rgb(221, 221, 221);
      background-color: rgb(50, 50, 50);
    }
  }
  .yc-select-option-disabled {
    color: rgb(102, 102, 102);
  }
  .yc-select-option-active {
    color: rgb(221, 221, 221);
    background-color: rgb(50, 50, 50);
  }
}

html[yc-design-dark] {
  .yc-option-group-label {
    color: rgb(153, 153, 153);
  }
}
