.yc-select-option {
  padding: 0 12px;
  background-color: var(--color-bg-popup);
  line-height: 36px;
  font-size: 14px;
  color: var(--color-text-1);
  text-align: left;
  display: flex;
  align-items: center;
  transition: all 0.1s cubic-bezier(0, 0, 1, 1);
  &:not(.yc-select-option-disabled):hover {
    background-color: var(--color-fill-2);
    color: var(--color-text-1);
  }
  .yc-select-option-icon,
  .yc-select-option-content,
  .yc-select-option-suffix {
    flex-shrink: 0;
    color: inherit;
  }
  .yc-select-option-icon {
    margin-right: 8px;
  }
  .yc-select-option-suffix {
    margin-left: 12px;
  }
  .yc-select-option-content {
    flex: 1;
    display: flex;
    align-items: center;
  }

  .yc-checkbox {
    overflow: hidden;
    &:deep(.yc-checkbox-label) {
      flex: 1;
      flex-shrink: 0;
    }
  }
}
// disabled
.yc-select-option-disabled {
  color: var(--color-text-4);
  background-color: var(--color-bg-popup);
  cursor: not-allowed;
}
// active
.yc-select-option-active {
  background-color: var(--color-fill-2);
}
