html[yc-design-dark] {
  .yc-scrollbar-both-track {
    &::before {
      background-color: rgb(42, 46, 54);
      border-right: 1px solid rgb(64, 69, 77);
      border-bottom: 1px solid rgb(64, 69, 77);
    }
  }
  .yc-scrollbar-vertical-track {
    &:deep(.yc-scrollbar-track-direction-vertical) {
      background-color: rgb(42, 46, 54);
      border-left: 1px solid rgb(64, 69, 77);
      border-right: 1px solid rgb(64, 69, 77);
    }
  }
  .yc-scrollbar-horizontal-track {
    &:deep(.yc-scrollbar-track-direction-horizontal) {
      background-color: rgb(42, 46, 54);
      border-top: 1px solid rgb(64, 69, 77);
      border-bottom: 1px solid rgb(64, 69, 77);
    }
  }
  .yc-scrollbar-track {
    .yc-scrollbar-thumb {
      .yc-scrollbar-thumb-bar {
        background-color: rgba(255, 255, 255, 0.12);
        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
        }
        &.yc-scrollbar-thumb-bar-dragging {
          background-color: rgba(255, 255, 255, 0.2);
        }
      }
    }
  }
}
