.yc-comment {
  --yc-comment-author-color: rgb(78, 89, 105);
  --yc-comment-datetime-color: rgb(134, 144, 156);
  --yc-comment-content-color: rgb(29, 33, 41);
  --yc-comment-actions-color: rgb(78, 89, 105);
  html[yc-design-dark] & {
    --yc-comment-author-color: rgb(193, 194, 195);
    --yc-comment-datetime-color: rgb(134, 137, 140);
    --yc-comment-content-color: rgb(229, 230, 235);
    --yc-comment-actions-color: rgb(193, 194, 195);
  }
}

.yc-comment {
  font-size: 14px;
  line-height: 1.5715;
  display: flex;
  flex-wrap: nowrap;
  gap: 12px;
  .yc-comment-avatar {
    flex-shrink: 0;
    cursor: pointer;
  }
  .yc-comment-inner {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .yc-comment-inner-content {
      display: flex;
      flex-direction: column;
      .yc-comment-title {
        display: flex;
        align-items: center;
        gap: 8px;
        .yc-comment-author {
          color: var(--yc-comment-author-color);
          font-size: 14px;
        }
        .yc-comment-datetime {
          color: var(--yc-comment-datetime-color);
          font-size: 12px;
        }
        &.yc-comment-title-align-right {
          justify-content: space-between;
        }
      }
      .yc-comment-content {
        color: var(--yc-comment-content-color);
      }
      .yc-comment-actions {
        margin-top: 8px;
        color: var(--yc-comment-actions-color);
        font-size: 14px;
        display: flex;
        align-items: center;
        gap: 8px;
        &.yc-comment-actions-align-right {
          justify-content: flex-end;
        }
      }
    }
    .yc-comment-inner-comment {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}
