html[yc-design-dark] {
  .yc-comment {
    .yc-comment-inner {
      .yc-comment-inner-content {
        .yc-comment-title {
          .yc-comment-author {
            color: rgb(193, 194, 195);
          }
          .yc-comment-datetime {
            color: rgb(134, 137, 140);
          }
        }
        .yc-comment-content {
          color: rgb(229, 230, 235);
        }
        .yc-comment-actions {
          color: rgb(193, 194, 195);
        }
      }
    }
  }
}
