html[yc-design-dark] {
  @dark-colors: {
    tooltip-bg: #2a2a2b;
    tooltip-border: #5a5a5b;
  };

  .yc-trigger {
    &.yc-tooltip {
      .yc-tooltip-popup-content {
        background-color: @dark-colors[tooltip-bg];
        border: 1px solid @dark-colors[tooltip-border];
      }
    }
  }
}
