html[yc-design-dark] {
  .yc-trigger {
    &.yc-tooltip {
      .yc-tooltip-popup-content {
        background-color: rgb(44, 44, 48);
        border: 1px solid rgb(70, 70, 72);
        color: rgb(229, 230, 235);
      }
    }
  }
}
