html[yc-design-dark] {
  .yc-result {
    .yc-result-title,
    .yc-result-subtitle {
      color: rgb(191, 191, 191);
      &.yc-result-title {
        color: rgb(229, 229, 229);
      }
    }
  }

  .yc-result {
    @type: {
      @info: {
        bg: rgb(34, 66, 115);
        icon-color: rgb(74, 139, 255);
      };
      @success: {
        bg: rgb(34, 115, 45);
        icon-color: rgb(73, 204, 102);
      };
      @warning: {
        bg: rgb(115, 71, 34);
        icon-color: rgb(255, 162, 77);
      };
      @error: {
        bg: rgb(112, 44, 44);
        icon-color: rgb(248, 114, 114);
      };
    };
    each(@type, .(@value,@name){
      @key:replace(~"@{name}", "@", "");
      .yc-result-icon-@{key} {
        color: @value[icon-color];
        .yc-result-icon-tip {
          background-color: @value[bg];
        }
      }
    });
  }
}
