.yc-rate {
  --yc-rate-character-color: rgb(229, 230, 235);
  --yc-rate-disabled-character-color: rgb(229, 230, 235);
  html[yc-design-dark] & {
    --yc-rate-character-color: rgb(70, 70, 70);
    --yc-rate-disabled-character-color: rgb(50, 50, 50);
  }
}

.yc-rate {
  min-height: 32px;
  font-size: 24px;
  line-height: 1;
  user-select: none;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  &:not(.yc-rate-disabled):not(.yc-rate-readonly) {
    .yc-rate-character {
      cursor: pointer;
      &:hover {
        transform: scale(1.2);
      }
    }
    .yc-rate-character-scale {
      transform: scale(1.2);
    }
  }
  .yc-rate-character {
    position: relative;
    color: var(--yc-rate-character-color);
    transition: transform 0.2s cubic-bezier(0.34, 0.69, 0.1, 1);

    .yc-rate-character-left {
      width: 50%;
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;
    }
  }
}

// disabled
.yc-rate-disabled {
  cursor: not-allowed;
  .yc-rate-character {
    cursor: not-allowed;
    color: var(--yc-rate-disabled-character-color);
  }
}
